@font-face {
	font-family: digital;
	src: url("/static/fonts/digital-7.ttf");
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
    background: #f0f0f0;
    color: #333;
}

header {
	border-bottom: solid 1px #333;
}

header a {
	display: block;
	text-align: center;
	font-size: 48px;
	font-family: digital;
}

header a:hover {
	text-decoration: none;
}

h1.ping-pong {
	font-size: 120px;
	text-align: center;
	font-family: digital;
}

h1 {
	font-size: 28px;
	text-align: center;
}

h1.with-action {
	text-align: left;
}

a,
a:hover {
	color: #333;
}

a.action {
	float: right;
	margin-top: 15px;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.main-container {
	width: 650px;
	height: 350px;
	margin: auto;
}

.main-container img {
	display: block;
	margin: 40px auto 0;
}

.main-container .links a {
	display: block;
	border: solid 1px #ccc;
	text-align: center;
	padding: 10px 0;
	border-bottom-width: 0px;
	text-decoration: none;
	background: #fff;
	font-size: 22px;
}

.main-container .links a:first-child {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.main-container .links a:last-child {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-width: 1px;
}

.main-container .links a:hover {
	background: #e6e6e6;
}

.players-form-play {
	margin-bottom: 8px;
	display: none;
}

.players-form-randomize {
	margin-bottom: 4px;
	display: none;
}

.players-form-redo {

}

.player-list-container {
	display: inline-block;
	width: 250px;
	vertical-align: top;
}

.player-list {
	width: 100%;
	cursor: pointer;
	text-align: center;
}

.table-container {
	width: 1000px;
	margin-right: 100px;
	display: inline-block;
}

.color-buttons-container {
	overflow: hidden;
}

.color-buttons:first-child {
	float: left;
}

.color-buttons:last-child {
	float: right;
}

.color-button {
	display: block;
	border-radius: 60px;
	font-size: 30px;
	width: 180px;
	padding: 20px 0;
	text-align: center;
	margin: 10px;
	min-height: 90px;
}

.color-button.active {
	border-width: 10px !important;
}

.color-button:nth-child(even) {
	float: right;
}

.color-button.red {
	background: #f97779;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f97779), to(#f00));
	background: -moz-linear-gradient(#f97779, #f00);
	background: linear-gradient(#f97779, #f00);
	border: solid 1px #be2424;
	border-bottom: solid 3px #bd2524;
	box-shadow: inset 0 0 0 1px #e67e7b;
	color: #fff;
	text-shadow: 0 1px 0 #bd2524;
}

.color-button.yellow {
	background: #feda71;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#feda71), to(#febe4d));
	background: -moz-linear-gradient(#feda71, #febe4d);
	background: linear-gradient(#feda71, #febe4d);
	border: solid 1px #eab551;
	border-bottom: solid 3px #b98a37;
	box-shadow: inset 0 0 0 1px #fee9aa;
	color: #996633;
	text-shadow: 0 1px 0 #fedd9b;
}

.color-button.blue {
	background: #5fc4e8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5fc4e8), to(#00f));
	background: -moz-linear-gradient(#5fc4e8, #00f);
	background: linear-gradient(#5fc4e8, #00f);
	border: solid 1px #5ab0ce;
	border-bottom: solid 3px #5ab0ce;
	box-shadow: inset 0 0 0 1px #65cdf2;
	color: #e8835f;
	text-shadow: 0 1px 0 #e57249;
}

.color-button.green {
	background: #bae53d;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#bae53d), to(#89cc16));
	background: -moz-linear-gradient(#bae53d, #89cc16);
	background: linear-gradient(#bae53d, #89cc16);
	border: solid 1px #aad063;
	border-bottom: solid 3px #799545;
	box-shadow: inset 0 0 0 1px #e0eeb6;
	color: #5d7731;
	text-shadow: 0 1px 0 #d0e5a4;
}

.option-form {
	width: 300px;
	margin: auto;
}

.option-form .btn,
.option-form .form-control {
	font-size: 18px;
}

.text-sm {
	font-size: 13px;
}
