.doubles-container {
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.doubles-container .score-board {
	border: solid 1px #ccc;
	width: 35%;
	float: left;
}

.doubles-container .score-board .name {
	display: block;
	font-size: 60px;
	padding: 30px 0;
}

.doubles-container .score-board .score {
	display: block;
	font-family: digital;
	font-size: 210px;
	line-height: 210px;
}

.doubles-container .sets {
	font-size: 30px;
	width: 30%;
	float: left;
}

.doubles-container .sets .text {
	display: block;
	padding: 8px 0;
}

.doubles-container .sets .set {
	display: block;
	padding: 2px 0 1px;
}

.doubles-container .sets .set .num {
	font-size: 80px;
	line-height: 80px;
}

.doubles-container .sets .serving {
	display: block;
	font-size: 100px;
	text-align: center;
	color: #ccc;
	padding: 2px 0;
}

.doubles-container .sets .serving .glyphicon {
	line-height: 84px;
}

.doubles-container .sets .serving .active {
	color: #333;
}

.doubles-container .sets .playing-to {
	font-size: 18px;
	display: block;
	padding: 22px 0;
}
