.leaderboard-container .table th {
	cursor: pointer;
	position: relative;
}

.leaderboard-container .table .sorting-container {
	display: inline-block;
	font-size: 10px;
	position: relative;
	top: 4px;
	left: 4px;
}

.leaderboard-container .table .glyphicon {
	color: #aaa;
	display: block;
}

.leaderboard-container .table .sorting-asc .glyphicon-chevron-up,
.leaderboard-container .table .sorting-desc .glyphicon-chevron-down {
	color: #333
}

.leaderboard-player-container {
	width: 800px;
	margin: auto;
}

.leaderboard-player-container table {
	width: 100%;
}

.leaderboard-player-container .nav-tabs li span {
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 9px;
	cursor: pointer;
	color: #555;
	margin-right: 2px;
}

.leaderboard-player-container .nav-tabs li.active span {
	border: solid 1px #ddd;
	border-bottom-color: transparent;
	background: #fff;
	padding: 8px;
}
