.singles-container {
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.singles-container .score-board {
	border: solid 1px #ccc;
	width: 35%;
	float: left;
}

.singles-container .score-board .name {
	display: block;
	font-size: 60px;
	padding: 30px 0;
}

.singles-container .score-board .score {
	display: block;
	font-family: digital;
	font-size: 210px;
	line-height: 210px;
}

.singles-container .sets {
	font-size: 30px;
	width: 30%;
	float: left;
}

.singles-container .sets .text {
	display: block;
	padding: 8px 0;
}

.singles-container .sets .set {
	display: block;
	padding: 2px 0 1px;
}

.singles-container .sets .set .num {
	font-size: 80px;
	line-height: 80px;
}

.singles-container .sets .serving {
	display: block;
	font-size: 100px;
	text-align: center;
	color: #ccc;
	padding: 2px 0;
}

.singles-container .sets .serving .glyphicon {
	line-height: 84px;
}

.singles-container .sets .serving .active {
	color: #333;
}

.singles-container .sets .playing-to {
	font-size: 18px;
	display: block;
	padding: 22px 0;
}

.set-scores {
	font-size: 18px;
	width: 80%;
	margin: 15px auto 0;
}

.set-score {
	font-family: digital;
	font-size: 28px;
	line-height: 28px !important;
}

.set-score.win {
	font-weight: bold;
}

.saying {
	height: 30px;
	margin-top: 10px;
	text-align: center;
	font-size: 24px;
	opacity: 0;
}
