<!DOCTYPE html>
<html lang="en">
	<head>

		{% block head %}

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

			<title>Ping Pong{% if request.endpoint != "mainController.index" %} | {% endif %}{% block title %}{% endblock %}</title>
			<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/ping-pong-icon.png') }}" type="image/x-icon" />
			<link href="{{ url_for('static', filename = 'libraries/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			{% assets "css_all" %}
				<link href="{{ ASSET_URL }}" rel="stylesheet">
			{% endassets %}

		{% endblock %}

	</head>
	<body class="{{ request.endpoint|lower|replace('.', '-') }} {% if config.DEBUG_TOOLS %}debug{% endif %}">

		{% if current_user.is_authenticated %}
			<div class="authentication authenticated">
				<a href="{{ url_for('adminController.index') }}">Administrator</a>
				<a href="{{ url_for('authenticationController.logout', next = request.url_rule) }}" class="link">Logout</a>
			</div>
		{% else %}
			<div class="authentication unauthenticated">
				<a href="{{ url_for('authenticationController.login', next = request.url_rule) }}" class="link">Login</a>
			</div>
		{% endif %}

		<header>
			<a href="{{ url_for('mainController.index') }}">Ping Pong</a>
		</header>

		{% include 'partials/messages.html' %}

		{% block body %}{% endblock %}

		{% assets "js_all" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% block footer %}{% endblock %}

	</body>
</html>
