<!DOCTYPE html>
<html lang="en">
	<head>

		{% include 'partials/ping-pong.html' %}

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		{% if "office" in session %}<meta name="office" content="{{ session.office.id }}">{% endif %}
		{% if config.DEBUG_TOOLS %}<meta name="debug" content="true">{% endif %}

		<title>Ping Pong{% if request.endpoint != "mainController.index" %} | {% endif %}{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename = 'images/ping-pong-icon.png') }}" type="image/x-icon" />
		<link href="{{ url_for('static', filename = 'libraries/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		{% assets "css_all" %}
			<link href="{{ ASSET_URL }}" rel="stylesheet">
		{% endassets %}

	</head>
	<body class="{{ request.endpoint|lower|replace('.', '-') }} {% if config.DEBUG_TOOLS %}debug{% endif %}">

		{% include 'partials/header.html' %}
		{% include 'partials/messages.html' %}

		{% block body %}{% endblock %}

		{% if not (request.endpoint.startswith('officeController') or request.endpoint.startswith('apiController')) %}
			{% include 'offices/selector.html' %}
		{% endif %}

		{% assets "js_all" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% block footer %}{% endblock %}

		{% include 'partials/created-by.html' %}

	</body>
</html>
