
{% extends "layout.html" %}

{% block title %}Play Doubles{% endblock %}

{% block body %}

	<div id="doubles" class="container">

		<div class="doubles-container">

			<div class="score-board">
				<span class="name" data-var="name" data-color="yellow">{{ data.players.yellow.playerName }}</span>
				<span class="score" data-var="score" data-team="south">{{ '%02d' % data.teams.south.points }}</span>
				<span class="name" data-var="name" data-color="blue">{{ data.players.blue.playerName }}</span>
			</div>

			<div class="sets">
				<span class="serving">
					<span class="glyphicon glyphicon-arrow-left {% if data.players.yellow.serving %}active{% endif %}" data-var="serving" data-color="yellow"></span>
					<span class="glyphicon glyphicon-arrow-right {% if data.players.green.serving %}active{% endif %}" data-var="serving" data-color="green"></span>
				</span>

				<span class="text">Set</span>
				<span class="set">
					<span class="num" data-var="set">{{ data.game }}</span>
					<span class="total">/ {{ data.numOfGames }}</span>
				</span>

				<span class="playing-to">Playing to {{ data.playTo }}</span>

				<span class="serving">
					<span class="glyphicon glyphicon-arrow-left {% if data.players.blue.serving %}active{% endif %}" data-var="serving" data-color="blue"></span>
					<span class="glyphicon glyphicon-arrow-right {% if data.players.red.serving %}active{% endif %}" data-var="serving" data-color="red"></span>
				</span>
			</div>

			<div class="score-board">
				<span class="name" data-var="name" data-color="green">{{ data.players.green.playerName }}</span>
				<span class="score" data-var="score" data-team="north">{{ '%02d' % data.teams.north.points }}</span>
				<span class="name" data-var="name" data-color="red">{{ data.players.red.playerName }}</span>
			</div>

		</div>

		<div id="saying" class="saying"></div>

		<table class="table table-bordered set-scores">

			<tr>

				<td>&nbsp;</td>

				{% for i in range(1, data.numOfGames + 1) %}
					<td>{{ i }}</td>
				{% endfor %}

			</tr>

			{% for side in data["teams"] %}

				<tr data-teamid="{{ data["teams"][side]["teamId"] }}">

					<td>{{ data["teams"][side]["players"]|join(' <span class="text-sm">and</span> ')|safe }}</td>

					{% for i in range(0, data.numOfGames) %}
						<td class="set-score"></td>
					{% endfor %}

				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}


{% block footer %}
	<script>
		var isms = {{ isms|safe }};
	</script>
{% endblock %}