
{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div id="player-selector" class="player-selector-container container">

		<a class="btn btn-default btn-sm action" href="/players/new/matches/{{ match.id }}">
			<span class="glyphicon glyphicon-star"></span>
			Add Player
		</a>

		<h1>Select Players</h1>

		<div class="player-table">
			<div class="name yellow"></div>
			<div class="name green"></div>
			<div class="name blue"></div>
			<div class="name red"></div>
		</div>

		<div class="player-list-container">

			<div class="player-list list-group">
				{% for player in players %}
					<div class="player list-group-item" data-id="{{ player.id }}">{{ player.name }}</div>
				{% endfor %}
			</div>

			<form id="players-form" action="/matches/{{ match.id }}/players" method="POST">
				<input type="hidden" name="yellow" />
				<input type="hidden" name="green" />
				<input type="hidden" name="blue" />
				<input type="hidden" name="red" />

				<button id="players-form-play" class="players-form-play btn btn-lg btn-block btn-primary">Play</button>
			</form>

			<button id="players-form-randomize" class="players-form-randomize btn btn-block btn-success">Randomize</button>
			<button id="players-form-redo" class="players-form-redo btn btn-block btn-warning">Redo</button>

		</div>

	</div>

{% endblock %}
