
{% extends "layout.html" %}

{% block title %}Previous Matches{% endblock %}

{% block body %}

	<div class="container">

		<h1>Previous Matches</h1>

		<table class="table">

			{% for match in matches %}

				<tr>

					<td>{{ match.createdAt }}</td>
					<td>{{ match.matchType }}</td>
					<td>{{ match.games }}</td>
					<td>{{ match.playTo }}</td>

					<td>
						{% for team in match.teams %}
							{% for teamPlayer in team.teamPlayers %}
								{{ teamPlayer.player.name }}
							{% endfor %}
						{% endfor %}
					</td>

				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}
