
{% extends "layout.html" %}

{% block title %}Select Match Type{% endblock %}

{% block body %}

	<div class="container">

		<h1>Select Match Type</h1>

		<form action="/matches" method="POST">

			<button type="submit" class="btn btn-block btn-default" name="matchType" value="singles">Singles</button>
			<button type="submit" class="btn btn-block btn-default" name="matchType" value="doubles">Doubles</button>
			<button type="submit" class="btn btn-block btn-default" name="matchType" value="nines">9s</button>

		</form>

	</div>

{% endblock %}
