
{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div id="players" class="player-selector-container container">

		<a class="btn btn-default btn-sm action" href="/players/new/matches/{{ match.id }}">
			<span class="glyphicon glyphicon-star"></span>
			Add Player
		</a>

		<h1>{{ matchType.label }} - Select {{ matchType.numOfPlayers }} Players</h1>

		<input id="numOfPlayers" class="hidden" value="{{ matchType.numOfPlayers }}" />
		<input id="numOfTeams" class="hidden" value="{{ matchType.numOfTeams }}" />

		<form id="players-list" class="player-list" action="/matches/{{ match.id }}/players" method="POST">

			{% for player in players %}
				<button class="btn btn-default btn-lg btn-block player">
					{{ player.name }}
					<span class="glyphicon glyphicon-ok"></span>
					<input type="checkbox" name="playerId" value="{{ player.id }}" />
				</button>
			{% endfor %}

			<button id="players-form-play" class="hidden players-form-play btn btn-lg btn-block btn-primary">Play</button>

		</form>

	</div>

{% endblock %}
