
{% extends "layout.html" %}

{% block title %}Play Singles{% endblock %}

{% block body %}

	<div id="singles" class="container">

		<div class="singles-container">

			<div class="score-board">
				<span class="name" data-var="name" data-color="yellow">{{ data.teams.yellow.playerName }}</span>
				<span class="score" data-var="score" data-color="yellow">{{ '%02d' % data.teams.yellow.points }}</span>
			</div>

			<div class="sets">
				<span class="text">Set</span>
				<span class="set">
					<span class="num" data-var="set">{{ data.game }}</span>
					<span class="total">/ {{ data.numOfGames }}</span>
				</span>

				<span class="playing-to">Playing to {{ data.playTo }}</span>

				<span class="serving">
					<span class="glyphicon glyphicon-arrow-left {% if data.teams.yellow.serving %}active{% endif %}" data-var="serving" data-color="yellow"></span>
					<span class="glyphicon glyphicon-arrow-right {% if data.teams.green.serving %}active{% endif %}" data-var="serving" data-color="green"></span>
				</span>
			</div>

			<div class="score-board">
				<span class="name" data-var="name" data-color="green">{{ data.teams.green.playerName }}</span>
				<span class="score" data-var="score" data-color="green">{{ '%02d' % data.teams.green.points }}</span>
			</div>

		</div>

		<div id="saying" class="saying"></div>

		<table class="table table-bordered set-scores">

			<tr>

				<td>&nbsp;</td>

				{% for i in range(1, data.numOfGames + 1) %}
					<td>{{ i }}</td>
				{% endfor %}

			</tr>

			{% for side in data["teams"] %}

				<tr data-teamid="{{ data.teams[side].teamId }}">

					<td>{{ data.teams[side].playerName }}</td>

					{% for i in range(0, data.numOfGames) %}
						{% if data.teams[side].games[i].score != None %}
							<td class="set-score {% if data.teams[side].games[i]["win"] %}win{% endif %}">
								{{ '%02d' % data.teams[side].games[i].score }}
							</td>
						{% else %}
							<td class="set-score"></td>
						{% endif %}
					{% endfor %}

				</tr>

			{% endfor %}

		</table>

	</div>

{% endblock %}

{% block footer %}
	<script>
		var isms = {{ isms|safe }};
	</script>
{% endblock %}