{% extends "layout.html" %}

{% block title %}Leaderboard{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="leaderboard-container">

			<h1>
				<a href="{{ url_for('leaderboardController.index', season = stats.season) }}">Leaderboard</a>
			</h1>

			{% with id = "season-filter", action = url_for('leaderboardController.index', matchType = stats.matchType), season = stats.season, seasons = stats.seasons %}
				{% include 'partials/seasons.html' %}
			{% endwith %}

			<ul class="nav nav-tabs">
				{% for item in matchTypes %}
					<li role="presentation" class="{% if stats.matchType == item %}active{% endif %}">
						<a href="{{ url_for('leaderboardController.index', matchType = item, season = stats.season) }}">{{ item.title() }}</a>
					</li>
				{% endfor %}
			</ul>

			<table id="leaderboard" class="leaderboard-table table table-sortable {{ stats.matchType }}">

				<thead>

					<tr>

						<th></th>
						<th></th>

						<th data-sort="string">
							Player
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" class="elo">
							ELO
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Matches
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="float">
							Win %
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Points For
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Points Against
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Wins
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Losses
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Point Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Current Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Win Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int">
							Loss Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

					</tr>

				</thead>

				<tbody>

					{% for player in stats.players %}

						<tr data-time="{{ player.time }}">

							<td class="text-center">{{ loop.index }}</td>

							<td class="avatar">
								{% with id = player.playerId, avatar = player.playerAvatar, class = "avatar-leaderboard" %}
									{% include 'partials/avatar.html' %}
								{% endwith %}
							</td>

							<td data-sort-value="{{ player.playerName }}">
								<a href="{{ url_for('leaderboardController.players', id = player.playerId, season = stats.season) }}" class="link">{{ player.playerName }}</a>
							</td>

							<td data-sort-value="{{ player.elo.current }}" class="elo">
								{{ player.elo.current|round|int }}

								{% if player.elo.change > 0 %}
									<span class="elo-change positive">(+{{ player.elo.change|round|int }})</span>
								{% elif player.elo.change < 0 %}
									<span class="elo-change negative">({{ player.elo.change|round|int }})</span>
								{% else %}
									<span class="elo-change">({{ player.elo.change|round|int }})</span>
								{% endif %}
							</td>

							<td data-sort-value="{{ player.matches }}">
								{{ player.matches }}
							</td>

							<td data-sort-value="{{ player.percentage }}">
								{{ "{:.3f}".format(player.percentage) }}
							</td>

							<td data-sort-value="{{ player.pointsFor }}">
								{{ "{:,}".format(player.pointsFor) }}
							</td>

							<td data-sort-value="{{ player.pointsAgainst }}">
								{{ "{:,}".format(player.pointsAgainst) }}
							</td>

							<td data-sort-value="{{ player.wins }}">
								{{ player.wins }}
							</td>

							<td data-sort-value="{{ player.losses }}">
								{{ player.losses }}
							</td>

							<td data-sort-value="{{ player.pointStreak }}">
								{{ player.pointStreak }}
							</td>

							{% with value = player.streaks.current %}
								{% include 'leaderboard/win-streak.html' %}
							{% endwith %}

							<td data-sort-value="{{ player.winStreak }}">{{ player.streaks.wins }}</td>
							<td data-sort-value="{{ player.lossStreak }}">{{ player.streaks.losses }}</td>

						</tr>

					{% endfor %}

				</tbody>

				<tfoot>

					<tr>

						<th colspan="2">Totals:</th>
						<th></th>
						<th class="elo"></th>
						<th>{{ "{:,}".format(stats.totals["matches"]) }}</th>
						<th></th>
						<th>{{ "{:,}".format(stats.totals["pointsFor"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["pointsAgainst"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["wins"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["losses"]) }}</th>
						<td></td>
						<td></td>
						<td></td>
						<td></td>

					</tr>

				</tfoot>

			</table>

		</div>

	</div>

{% endblock %}
