{% extends "layout.html" %}

{% block title %}Leaderboard{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="leaderboard-container">

			<h1>
				<a href="{{ url_for('leaderboardController.index', season = stats.season) }}">Leaderboard</a>
			</h1>

			{% with id = "season-filter",
				action = url_for('leaderboardController.index', matchType = stats.matchType),
				season = stats.season,
				seasons = stats.seasons,
				classes = ('hidden' if (startDateTime != None or endDateTime != None) else '') %}
				{% include 'partials/seasons.html' %}
			{% endwith %}

			{% with action = url_for('leaderboardController.index', matchType = stats.matchType),
				classes = ('hidden' if (startDateTime == None and endDateTime == None) else '') %}
				{% include 'leaderboard/filter-toggle.html' %}
			{% endwith %}

			<ul class="nav nav-tabs">

				{% for item in matchTypes %}

					<li role="presentation" class="{% if stats.matchType == item %}active{% endif %}">
						<a href="{{ url_for('leaderboardController.index', matchType = item, season = stats.season, start = startDateTime, end = endDateTime) }}">{{ item.title() }}</a>
					</li>

				{% endfor %}

			</ul>

			<table id="leaderboard" class="leaderboard-table table table-sortable {{ stats.matchType }}">

				<thead>

					<tr>

						<th></th>
						<th></th>

						<th data-sort="string" data-label="player">
							Player
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="elo" data-sort="float" data-sort-default="desc" class="elo" title="ELO rating index">
							ELO
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="matches" data-sort-default="desc" title="Number of matches played">
							Matches
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="float" data-label="win-percentage" data-sort-default="desc" class="win-percentage" title="Win percentage">
							Win %
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="points-for" data-sort-default="desc" class="points-for" title="Total points scored by player">
							Points For
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="points-against" data-sort-default="desc" class="points-against" title="Total points scored by opponent">
							Points Against
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="wins" data-sort-default="desc" title="Number of match wins">
							Wins
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="losses" data-sort-default="desc" title="Number of match losses">
							Losses
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="point-streak" data-sort-default="desc" title="Consecutive points scored">
							Point Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="current-streak" data-sort-default="desc" title="Most recent number of wins or losses">
							Current Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="best-streak" data-sort-default="desc" title="Largest Winning Streak">
							Best Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" data-label="worst-streak" data-sort-default="desc" title="Largest Losing Streak">
							Worst Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

					</tr>

				</thead>

				<tbody>

					{% set numPlayers = [] %}

					{% for player in stats.players if not player.matches == 0 %}

						{% with num = loop.index, player = player %}
							{% include 'leaderboard/index-player.html' %}
							{% if numPlayers.append('') %}{% endif %}
						{% endwith %}

					{% else %}

						<tr>
							<th colspan="13" class="text-center">No {{ stats.matchType }} matches found.</th>
						</tr>

					{% endfor %}

				</tbody>

				<tfoot>

					<tr>

						<th colspan="2"></td>
						<th>Totals:</th>
						<th class="elo"></th>
						<th>{{ "{:,}".format(stats.totals["matches"]) }}</th>
						<th></th>
						<th class="points-for">{{ "{:,}".format(stats.totals["pointsFor"]) }}</th>
						<th class="points-against">{{ "{:,}".format(stats.totals["pointsAgainst"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["wins"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["losses"]) }}</th>
						<th colspan="4"></td>

					</tr>

				</tfoot>

			</table>

		</div>

	</div>

{% endblock %}
