<tr data-id="{{ player.playerId }}" data-time="{{ player.time }}">

	<td class="text-center">{{ num }}</td>

	<td class="avatar">
		{% with id = player.playerId, avatar = player.playerAvatar, class = "avatar-leaderboard" %}
			{% include 'partials/avatar.html' %}
		{% endwith %}
	</td>

	<td data-sort-value="{{ player.playerName }}">
		<a href="{{ url_for('leaderboardController.players', id = player.playerId, season = stats.season) }}" class="link player-name-link truncate" title="View {{ player.playerName }}'s Statistics">
			{{ player.playerName }}
		</a>
	</td>

	<td data-sort-value="{{ player.elo.current }}" class="elo">
		{{ player.elo.current|round|int }}

		{% if player.elo.change > 0 %}
			<span class="elo-change positive">(+{{ player.elo.change|round|int }})</span>
		{% elif player.elo.change < 0 %}
			<span class="elo-change negative">({{ player.elo.change|round|int }})</span>
		{% else %}
			<span class="elo-change">({{ player.elo.change|round|int }})</span>
		{% endif %}
	</td>

	<td data-sort-value="{{ player.matches }}">
		{{ player.matches }}
	</td>

	<td data-sort-value="{{ player.percentage }}">
		{{ "{:.3f}".format(player.percentage) }}
	</td>

	<td data-sort-value="{{ player.pointsFor }}" class="points-for">
		{{ "{:,}".format(player.pointsFor) }}
	</td>

	<td data-sort-value="{{ player.pointsAgainst }}" class="points-against">
		{{ "{:,}".format(player.pointsAgainst) }}
	</td>

	<td data-sort-value="{{ player.wins }}">
		{{ player.wins }}
	</td>

	<td data-sort-value="{{ player.losses }}">
		{{ player.losses }}
	</td>

	<td data-sort-value="{{ player.pointStreak }}">
		{{ player.pointStreak }}
	</td>

	{% with value = player.streaks.current %}
		{% include 'leaderboard/win-streak.html' %}
	{% endwith %}

	<td data-sort-value="{{ player.streaks.wins }}">{{ player.streaks.wins }}</td>
	<td data-sort-value="{{ player.streaks.losses }}">{{ player.streaks.losses }}</td>

</tr>
