{% extends "layout.html" %}

{% block title %}Leaderboard{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="leaderboard-container">

			<h1>
				<a href="{{ url_for('leaderboardController.index', season = stats.season) }}">Leaderboard</a>
			</h1>

			{% with id = "season-filter", action = url_for('leaderboardController.index', matchType = stats.matchType), season = stats.season, seasons = stats.seasons %}
				{% include 'partials/seasons.html' %}
			{% endwith %}

			<ul class="nav nav-tabs">
				{% for item in matchTypes %}
					<li role="presentation" class="{% if stats.matchType == item %}active{% endif %}">
						<a href="{{ url_for('leaderboardController.index', matchType = item, season = stats.season) }}">{{ item.title() }}</a>
					</li>
				{% endfor %}
			</ul>

			<table id="leaderboard" class="leaderboard-table table table-sortable {{ stats.matchType }}">

				<thead>

					<tr>

						<th></th>
						<th></th>

						<th data-sort="string">
							Player
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" class="elo" title="ELO rating index">
							ELO
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" title="Number of matches played">
							Matches
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="float" class="win-percentage" title="Win percentage">
							Win %
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" class="points-for" title="Total points scored by player">
							Points For
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" class="points-against" title="Total points scored by opponent">
							Points Against
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" title="Number of match wins">
							Wins
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" title="Number of match losses">
							Losses
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" title="Consecutive points scored">
							Point Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" title="Most recent number of wins or losses">
							Current Streak
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" title="Most Wins in a Row">
							Most Wins
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

						<th data-sort="int" title="Most Losses in a Row">
							Most Losses
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

					</tr>

				</thead>

				<tbody>

					{% set numPlayers = [] %}

					{% for player in stats.players if not player.matches == 0 %}
						{% with num = loop.index, player = player %}
							{% include 'leaderboard/index-player.html' %}
							{% if numPlayers.append('') %}{% endif %}
						{% endwith %}
					{% endfor %}

				</tbody>

				<tfoot>
					<tr>

						<th></th>
						<th></th>
						<th>Totals:</th>
						<th class="elo"></th>
						<th>{{ "{:,}".format(stats.totals["matches"]) }}</th>
						<th></th>
						<th>{{ "{:,}".format(stats.totals["pointsFor"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["pointsAgainst"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["wins"]) }}</th>
						<th>{{ "{:,}".format(stats.totals["losses"]) }}</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>

					</tr>

					{% for player in stats.players if player.matches == 0 %}
						{% with num = numPlayers|count + loop.index, player = player %}
							{% include 'leaderboard/index-player.html' %}
						{% endwith %}
					{% endfor %}

				</tfoot>

			</table>

		</div>

	</div>

{% endblock %}
