{% extends "layout.html" %}

{% block title %}Leaderboard | {{ player.name }}{% endblock %}

{% block body %}

	<div class="container-fluid">

		<div class="leaderboard-player-container">

			<div class="avatar-leaderboard-player-container">
				{% with id = player.id, avatar = player.avatar, class = "avatar-leaderboard-player" %}
					{% include 'partials/avatar.html' %}
				{% endwith %}
			</div>

			<h1>
				<a href="{{ url_for('leaderboardController.index', season = stats.season) }}" title="View Leaderboard">Leaderboard</a>
				-
				<a href="{{ url_for('leaderboardController.players', id = player.id, season = stats.season) }}" title="View {{ player.name }}'s Statistics">{{ player.name }}</a>
			</h1>

			{% with id = "season-filter", action = url_for('leaderboardController.players', id = player.id), season = stats.season, seasons = stats.seasons %}
				{% include 'partials/seasons.html' %}
			{% endwith %}

			<table class="table player-table">

				<thead>

					<tr>

						<th></th>
						<th>Matches</th>
						<th>Win %</td>
						<th>Points For</th>
						<th>Points Against</th>
						<th>Wins</th>
						<th>Losses</th>
						<th>Current Streak</th>
						<th>Win Streak</th>
						<th>Loss Streak</th>

					</tr>

				</thead>

				<tbody>

					{% for matchType in matchTypes %}

						<tr>
							<th>
								<a href="{{ url_for('matchController.index', matchType = matchType) }}" class="link" title="View {{ matchType.title() }} Matches">{{ matchType.title() }}</a>
							</th>
							<td>{{ stats[matchType].matches }}</td>
							<td>{{ "{:.3f}".format(stats[matchType].percentage) }}</td>
							<td>{{ "{:,}".format(stats[matchType].pointsFor) }}</td>
							<td>{{ "{:,}".format(stats[matchType].pointsAgainst) }}</td>
							<td>{{ stats[matchType].wins }}</td>
							<td>{{ stats[matchType].losses }}</td>
							{% with value = stats[matchType].streaks.current %}
								{% include 'leaderboard/win-streak.html' %}
							{% endwith %}
							<td>{{ stats[matchType].streaks.wins }}</td>
							<td>{{ stats[matchType].streaks.losses }}</td>
						</tr>

					{% endfor %}

				</tbody>

			</table>

			<ul class="nav nav-tabs">
				{% for matchType in matchTypes %}
					<li role="presentation" data-matchtype="{{ matchType }}">
						<span>{{ matchType.title() }}</span>
					</li>
				{% endfor %}
			</ul>

			{% for matchType in matchTypes %}

				<table class="table opponent-table table-sortable hidden" data-matchtype="{{ matchType }}">

					<thead>

						<tr>

							<th></th>

							<th data-sort="string">
								Opponent
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="int">
								Matches
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="float">
								Win %
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</td>

							<th data-sort="int">
								Points
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="int">
								Opp Points
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="int">
								Wins
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="int">
								Opp Wins
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="int">
								Current Wins
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="int">
								Win Streak
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

							<th data-sort="int">
								Loss Streak
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

						</tr>

					</thead>

					<tbody>

						{% for matchup in stats[matchType].matchups %}

							<tr class="matchup">

								<td class="avatar">
									{% with id = matchup.playerId, avatar = matchup.playerAvatar, class = "avatar-leaderboard" %}
										{% include 'partials/avatar.html' %}
									{% endwith %}
								</td>

								<td data-sort-value="{{ matchup.playerName }}">
									<a href="{{ url_for('leaderboardController.players', id = matchup.playerId, season = stats.season) }}"
										class="link" title="View {{ matchup.playerName }}'s Statistics">{{ matchup.playerName }}</a>

									<a href="{{ url_for('matchController.index', playerId = player.id, opponentId = matchup.playerId, matchType = matchType) }}"
									title="View Matches for {{ player.name }} vs {{ matchup.playerName }}" class="link opponent-matches">
										<span class="glyphicon glyphicon-king"></span>
									</a>
								</td>

								<td data-sort-value="{{ matchup.numOfMatches }}">
									{{ matchup.numOfMatches }}
								</td>

								<td data-sort-value="{{ matchup.percentage }}">
									{{ "{:.3f}".format(matchup.percentage) }}
								</td>

								<td data-sort-value="{{ matchup.pointsFor }}">
									{{ matchup.pointsFor }}
								</td>

								<td data-sort-value="{{ matchup.pointsAgainst }}">
									{{ matchup.pointsAgainst }}
								</td>

								<td data-sort-value="{{ matchup.wins }}">
									{{ matchup.wins }}
								</td>

								<td data-sort-value="{{ matchup.losses }}">
									{{ matchup.losses }}
								</td>

								{% with value = matchup.streaks.current %}
									{% include 'leaderboard/win-streak.html' %}
								{% endwith %}

								<td data-sort-value="{{ matchup.streaks.wins }}">
									{{ matchup.streaks.wins }}
								</td>

								<td data-sort-value="{{ matchup.streaks.losses }}">
									{{ matchup.streaks.losses }}
								</td>

							</tr>

						{% else %}

							<tr>
								<td colspan="20" class="text-center">No opponents found.</td>
							</tr>

						{% endfor %}

					</tbody>

				</table>

			{% endfor %}

		</div>

	</div>

{% endblock %}
