{% extends "layout.html" %}

{% block title %}Leaderboard | {{ player.name }}{% endblock %}

{% block body %}

	<div class="container">

		<div class="leaderboard-player-container">

			<h1>
				<a href="/leaderboard">Leaderboard</a>
				-
				<a href="/leaderboard/players/{{ player.id }}">{{ player.name }}</a>
			</h1>

			<table class="table player-table">

				<thead>

					<tr>

						<th></th>
						<th>Matches</th>
						<th>Win %</td>
						<th>Points For</th>
						<th>Points Against</th>
						<th>Wins</th>
						<th>Losses</th>
						<th>Current Wins</th>

					</tr>

				</thead>

				<tbody>

					{% for matchType in matchTypes %}

						<tr>

							<th>{{ matchType.title() }}</th>
							<td>{{ stats[matchType].matches }}</td>
							<td>{{ "{:.3f}".format(stats[matchType].percentage) }}</td>
							<td>{{ "{:,}".format(stats[matchType].pointsFor) }}</td>
							<td>{{ "{:,}".format(stats[matchType].pointsAgainst) }}</td>
							<td>{{ stats[matchType].wins }}</td>
							<td>{{ stats[matchType].losses }}</td>
							{% with value = stats[matchType].winStreak %}
								{% include 'leaderboard/win-streak.html' %}
							{% endwith %}
						</tr>

					{% endfor %}

				</tbody>

			</table>

			<ul class="nav nav-tabs">
				{% for matchType in matchTypes %}
					<li role="presentation" data-matchtype="{{ matchType }}">
						<span>{{ matchType.title() }}</span>
					</li>
				{% endfor %}
			</ul>

			{% for matchType in matchTypes %}

				<table class="table opponent-table table-sortable hidden" data-matchtype="{{ matchType }}">

					<thead>

						<tr>
							<th data-sort="string">
								Opponent
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>
							<th data-sort="int">
								Matches
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>
							<th data-sort="float">
								Win %
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</td>
							<th data-sort="int">
								Points
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>
							<th data-sort="int">
								Opp Points
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>
							<th data-sort="int">
								Wins
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>
							<th data-sort="int">
								Opp Wins
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>
							<th data-sort="int">
								Current Wins
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

						</tr>

					</thead>

					<tbody>

						{% for matchup in stats[matchType].matchups %}

							<tr class="matchup">
								<td data-sort-value="{{ matchup.playerName }}">
									<a href="/leaderboard/players/{{ matchup.playerId }}" class="link">{{ matchup.playerName }}</a>
								</td>
								<td data-sort-value="{{ matchup.numOfMatches }}">{{ matchup.numOfMatches }}</td>
								<td data-sort-value="{{ matchup.percentage }}">{{ "{:.3f}".format(matchup.percentage) }}</td>
								<td data-sort-value="{{ matchup.pointsFor }}">{{ matchup.pointsFor }}</td>
								<td data-sort-value="{{ matchup.pointsAgainst }}">{{ matchup.pointsAgainst }}</td>
								<td data-sort-value="{{ matchup.wins }}">{{ matchup.wins }}</td>
								<td data-sort-value="{{ matchup.losses }}">{{ matchup.losses }}</td>
								{% with value = matchup.winStreak %}
									{% include 'leaderboard/win-streak.html' %}
								{% endwith %}
							</tr>

						{% endfor %}

					</tbody>

				</table>

			{% endfor %}

		</div>

	</div>

{% endblock %}
