{% extends "layout.html" %}

{% block title %}Leaderboard{% endblock %}

{% block body %}

	<div class="container">

		<div class="leaderboard-container">

			<h1>Leaderboard</h1>

			<ul class="nav nav-tabs">
				{% for item in matchTypes %}
					<li role="presentation" class="{% if matchType == item %}active{% endif %}">
						<a href="/leaderboard/{{ item }}">{{ item.title() }}</a>
					</li>
				{% endfor %}
			</ul>

			<table id="leaderboard" class="table">

				<thead>

					<tr>

						{% for label in stats.labels %}

							<th data-sort="{{ label.sort }}">
								{{ label.name }}
								<div class="sorting-container">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<span class="glyphicon glyphicon-chevron-down"></span>
								</div>
							</th>

						{% endfor %}

					</tr>

				</thead>

				<tbody>

					{% for row in stats.rows %}

						<tr data-time="{{ row.time }}">

							<td data-sort-value="{{ row.playerName }}">{{ row.playerName }}</td>
							<td data-sort-value="{{ row.matches }}">{{ row.matches }}</td>
							<td data-sort-value="{{ row.percentage }}">{{ "{:.3f}".format(row.percentage) }}</td>
							<td data-sort-value="{{ row.pointsFor }}">{{  "{:,}".format(row.pointsFor) }}</td>
							<td data-sort-value="{{ row.pointsAgainst }}">{{  "{:,}".format(row.pointsAgainst) }}</td>
							<td data-sort-value="{{ row.wins }}">{{ row.wins }}</td>
							<td data-sort-value="{{ row.losses }}">{{ row.losses }}</td>

						</tr>

					{% endfor %}

				</tbody>

				<tfoot>

					<tr>

						<th>Totals:</th>
						<th>{{ stats.totals["matches"] }}</th>
						<th></th>
						<th>{{ stats.totals["pointsFor"] }}</th>
						<th>{{ stats.totals["pointsAgainst"] }}</th>
						<th>{{ stats.totals["wins"] }}</th>
						<th>{{ stats.totals["losses"] }}</th>

					</tr>

				</tfoot>

			</table>

		</div>

	</div>

{% endblock %}
