{% extends "layout.html" %}

{% block title %}Leaderboard{% endblock %}

{% block body %}

	<div class="container">

		<div class="leaderboard-container">

			<h1>Leaderboard</h1>

			<ul class="nav nav-tabs">
				{% for item in matchTypes %}
					<li role="presentation" class="{% if matchType == item %}active{% endif %}">
						<a href="/leaderboard/{{ item }}">{{ item.title() }}</a>
					</li>
				{% endfor %}
			</ul>

			<table id="leaderboard" class="table">

				<thead>

					<tr>

						<th data-sort="string">
							Player
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>
						<th data-sort="int">
							Matches
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>
						<th data-sort="float">
							Win %
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>
						<th data-sort="int">
							Points For
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>
						<th data-sort="int">
							Points Against
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>
						<th data-sort="int">
							Wins
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>
						<th data-sort="int">
							Losses
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>
						<th data-sort="int">
							Time
							<div class="sorting-container">
								<span class="glyphicon glyphicon-chevron-up"></span>
								<span class="glyphicon glyphicon-chevron-down"></span>
							</div>
						</th>

					</tr>

				</thead>

				<tbody>

					{% for stat in stats %}

						<tr>

							<td data-sort-value="{{ stat.playerName }}">{{ stat.playerName }}</td>
							<td data-sort-value="{{ stat.matches }}">{{ stat.matches }}</td>
							<td data-sort-value="{{ stat.percentage }}">{{ "{:.3f}".format(stat.percentage) }}</td>
							<td data-sort-value="{{ stat.pointsFor }}">{{  "{:,}".format(stat.pointsFor) }}</td>
							<td data-sort-value="{{ stat.pointsAgainst }}">{{  "{:,}".format(stat.pointsAgainst) }}</td>
							<td data-sort-value="{{ stat.wins }}">{{ stat.wins }}</td>
							<td data-sort-value="{{ stat.losses }}">{{ stat.losses }}</td>
							<td data-sort-value="{{ stat.seconds }}">{{ stat.time }}</td>

						</tr>

					{% endfor %}

				</tbody>

			</table>

		</div>

	</div>

{% endblock %}
