{% extends "layout.html" %}

{% block title %}Leaderboard | {{ player.name }}{% endblock %}

{% block body %}

	<div class="container">

		<div class="leaderboard-player-container">

			<h1>Leaderboard - {{ player.name }}</h1>

			<table class="table">

				<thead>

					<tr>

						<th></th>
						<th>Matches</th>
						<th>Win %</td>
						<th>Points For</th>
						<th>Points Against</th>
						<th>Wins</th>
						<th>Losses</th>

					</tr>

				</thead>

				<tbody>

					{% for item in matchTypes %}

						<tr>

							<th>{{ item.title() }}</th>
							<td>{{ stats[item].matches }}</td>
							<td>{{ "{:.3f}".format(stats[item].percentage) }}</td>
							<td>{{ "{:,}".format(stats[item].pointsFor) }}</td>
							<td>{{ "{:,}".format(stats[item].pointsAgainst) }}</td>
							<td>{{ stats[item].wins }}</td>
							<td>{{ stats[item].losses }}</td>

						</tr>

					{% endfor %}

				</tbody>

			</table>

			<ul class="nav nav-tabs">
				{% for item in matchTypes %}
					<li role="presentation" data-matchtype="{{ item }}">
						<span>{{ item.title() }}</span>
					</li>
				{% endfor %}
			</ul>

			{% for item in matchTypes %}

				<table class="table opponent-table hidden" data-matchtype="{{ item }}">

					<thead>

						<tr>

							<th>Opponent</th>
							<th>Matches</th>
							<th>Win %</td>
							<th>Points For</th>
							<th>Points Against</th>
							<th>Wins</th>
							<th>Losses</th>

						</tr>

					</thead>

					<tbody>

						{% for matchup in stats[item].matchups %}

							<tr class="matchup">
								<td>{{ matchup.playerName }}</td>
								<td>{{ matchup.numOfMatches }}</td>
								<td>{{ "{:.3f}".format(matchup.percentage) }}</td>
								<td>{{ matchup.pointsFor }}</td>
								<td>{{ matchup.pointsAgainst }}</td>
								<td>{{ matchup.wins }}</td>
								<td>{{ matchup.losses }}</td>
							</tr>

						{% endfor %}

					</tbody>

				</table>

			{% endfor %}

		</div>

	</div>

{% endblock %}
