{% extends "layout.html" %}

{% block title %}Admin{% endblock %}

{% block body %}

	<div class="container">

		<h1>Login</h1>

		<form action="{{ url_for('authenticationController.login') }}" method="POST">

			<input type="hidden" name="next" value="{{ next }}" />

			<div class="form-group">
				<label for="field-username">Username:</label>
				<input id="field-username" type="text" name="username" class="form-control" placeholder="Username" autocomplete="off" autofocus>
			</div>

			<div class="form-group">
				<label for="field-password">Password:</label>
				<input id="field-password" type="password" name="password" class="form-control" placeholder="Password" autocomplete="off">
			</div>

			<button type="submit" class="btn btn-default">Login</button>

		</form>

	</div>

{% endblock %}
