<div id="scoring-tools" class="scoring-tools">

	<button class="team yellow" data-color="yellow" data-action="score">score</button>
	<button class="team green" data-color="green" data-action="score">score</button>

	<button class="team yellow" data-color="yellow" data-action="undo">undo</button>
	<button class="team green" data-color="green" data-action="undo">undo</button>

	<button class="team blue" data-color="blue" data-action="score">score</button>
	<button class="team red" data-color="red" data-action="score">score</button>

	<button class="team blue" data-color="blue" data-action="undo">undo</button>
	<button class="team red" data-color="red" data-action="undo">undo</button>

	<button class="random-score wide-action">random score</button>
	<button class="random-undo wide-action">random undo</button>
	<button class="auto-score wide-action">auto score</button>
	<button class="delete-all wide-action" data-color="none" data-action="delete-scores">delete scores</button>

</div>
