
<form action="{{ action }}" method="GET">
	<select id="{{ id }}" name="season" class="season-filter form-control input-sm" autofocus {% if tabindex %}tabindex="{{ tabindex }}{% endif %}>
		<option value="0" {% if season == -1 %}selected{% endif %}>All Seasons</option>

		{% for item in seasons %}
			<option value="{{ item.id }}" {% if season == item.id %}selected{% endif %}>
				{{ item.label }}: {{ "{:%b %d, %Y}".format(item.start) }} - {{ "{:%b %d, %Y}".format(item.last) }}
			</option>
		{% endfor %}
	</select>
</form>
