<div class="form-group">

	<label for="city-field">City</label>
	<input id="city-field" type="text" name="city" value="{{ office.city }}" class="form-control" autocomplete="off" autofocus />

</div>

<div class="form-group">

	<label for="state-field">State</label>
	<input id="state-field" type="text" name="state" value="{{ office.state }}" class="form-control" autocomplete="off" />

</div>

<div class="form-group">

	<label for="skypeChatId-field">Skype Chat ID</label>
	<input id="skypeChatId-field" type="text" name="skypeChatId" value="{{ office.skypeChatId }}" class="form-control" autocomplete="off" />

</div>
