{% extends "layout.html" %}

{% block title %}Update Office{% endblock %}

{% block body %}

	<div class="container">

		<h1>
			<a href="{{ url_for('officeController.index') }}">Offices</a>
			/
			<a href="{{ url_for('officeController.edit', id = office.id) }}">Update Office</a>
		</h1>

		<form action="{{ url_for('officeController.update', id = office.id) }}" method="POST" enctype="multipart/form-data">

			{% include 'offices/_form.html' %}

			<button class="btn btn-default">Update Office</button>

		</form>

	</div>

{% endblock %}
