{% extends "layout.html" %}

{% block title %}Admin{% endblock %}

{% block body %}

	<div class="container">

		<h1>Admin</h1>

		<div class="row">

			<div class="col-xs-2">
				<p><strong>App Info</strong></p>
				Players: {{ counts.numOfPlayers }}<br />
				Matches: {{ counts.numOfMatches }}<br />
				Games: {{ counts.numOfGames }}<br />
				Scores: {{ counts.numOfScores }}<br />
				Isms: {{ counts.numOfIsms }}<br />
			</div>

			<div class="col-xs-5">

				<form action="{{ url_for('adminController.send_message') }}" method="POST">

					<div class="form-group">

						<label for="field-message">Chat Group Message</label>
						<textarea id="field-message" name="message" class="form-control" rows="3"></textarea>

					</div>

					<button class="btn btn-default">Send</button>

				</form>

			</div>

			<div class="col-xs-2">

				{% if matchData != None %}

					<h4>{{ matchData.matchType.title() }}</h4>

					<p><a href="{{ url_for('matchController.show', id = matchData.matchId) }}" class="link" target="_blank">View Match</a></p>

					{% if matchData.matchType == "singles" %}
						<p>
							{% for color in matchData.teams %}
								{{ matchData.teams[color].playerName }}{% if loop.index != 2 %},{% endif %}
							{% endfor %}
						</p>

					{% elif matchData.matchType == "doubles" %}
						<p>
							{% for side in matchData.teams %}
								{{ matchData.teams[side].players|join(', ') }}{% if loop.index != 2 %},{% endif %}
							{% endfor %}
						</p>

					{% elif matchData.matchType == "nines" %}
						<p>
							{% for color in matchData.players %}
								{{ matchData.players[color].playerName }}{% if loop.index != 4 %},{% endif %}
							{% endfor %}
						</p>
					{% endif %}

				{% else %}

					<p>No active match.</p>

				{% endif %}

			</div>

			<div class="col-xs-2">
				{% if matchData != None %}
					{% include 'partials/scoring-tools.html' %}
				{% endif %}
			</div>

		</div>

	</div>

{% endblock %}
