<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Ping Pong | Page Not Found</title>
		<style>

			html, body {
				font-family: Arial;
				position: absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				text-align: center;
				font-size: 4vw;
				padding-top: 40px;
			}

		</style>

	</head>
	<body>

		<p>Well shit... something broke</p>
		<p>Tell Brett</p>

	</body>
</html>