{% extends "layout.html" %}

{% block body %}

	<div class="container-fluid">

		<div class="main-container">

			<h1 class="ping-pong">
				{% if range(0, 7) | random < 6 %}
					Ping Pong
				{% else %}
					Table Tennis
				{% endif %}
			</h1>

			<div class="text-center matches-played">
				{{ "{:,}".format(matches) }} matches played
				|
				{{ "{:,}".format(scores) }} balls served
			</div>

			<div class="links">
				<a href="{{ url_for('matchController.new') }}">New Match</a>
				<a href="{{ url_for('leaderboardController.index') }}">Leaderboard</a>
				<a href="{{ url_for('matchController.index') }}">Matches</a>
				<a href="{{ url_for('playerController.index') }}">Players</a>
				{% if current_user.is_authenticated %}
					<a href="{{ url_for('officeController.index') }}">Offices</a>
				{% endif %}

				<div class="links-horizontal">
					<a href="{{ url_for('ismController.index') }}">Isms</a>
					<a href="{{ url_for('mainController.rules') }}">Rules</a>
					<a href="{{ url_for('apiController.index') }}">API</a>
					<a href="{{ url_for('mainController.feedback') }}">Feedback</a>
				</div>
			</div>

			<img src="/static/images/ping-pong.png" />

		</div>

	</div>

	<a href="/change-log" class="change-log-link">Change Log</a>

{% endblock %}
