{% extends "layout.html" %}

{% block title %}Matches{% endblock %}

{% block body %}

	<style>
	</style>

	<div class="container-fluid">

		<div class="btn-group-vertical" role="group" style="display: block;">

			<a class="btn btn-default btn-lg" href="/games/new/">New Game</a>
			<a class="btn btn-default btn-lg" href="/games/">Previous Games</a>
			<a class="btn btn-default btn-lg" href="/players/">Players</a>

		</div>

		<img src="{{ url_for('static', filename='images/ping-pong.png') }}" class="main-image" />

	</div>

	<script>

	</script>

{% endblock %}
