{% extends "layout.html" %}

{% block body %}

	<div class="container-fluid">

		<div class="main-container">

			<h1 class="ping-pong">
				{% if range(0, 15) | random < 14 %}
					Ping Pong
				{% else %}
					Table Tennis
				{% endif %}
			</h1>

			<div class="text-center matches-played">
				{{ "{:,}".format(matches) }} matches played
				|
				{{ "{:,}".format(scores) }} serves served
			</div>

			<div class="links">
				<a href="/matches/new">New Match</a>
				<a href="/matches">Previous Matches</a>
				<a href="/players">Players</a>
				<a href="/leaderboard">Leaderboard</a>
				<a href="/isms">Isms</a>
				<a href="/rules">Rules</a>
			</div>

			<img src="/static/images/ping-pong.png" />

		</div>

	</div>

{% endblock %}
