{% extends "layout.html" %}

{% block title %}Rules{% endblock %}

{% block body %}

	<div class="container">

		<h1>
			<a href="{{ url_for('mainController.rules') }}">Rules</a>
		</h1>

		<div class="container">
			<h4>Serving and General Rules</h4>

			<ul>
				<li>If you throw the ball in the air, attempt to hit it, and fail, it is a loss of point.</li>
				<li>ANY serve (including a net hit) that does not hit your side first, followed by you opponents side is a loss of point.</li>
				<li>All serves must be placed open hand and tossed vertically aproximately 6 inches behind the edge of the table.</li>
				<li>Only the table top is a valid surface. Sides of the table are the same as missing the table.</li>
			</ul>
		</div>

		<div class="container">
			<h4>Singles</h4>

			<ul>
				<li>A match is played best of 1, 2 of 3, or 3 of 5 games.</li>
				<li>For each game, the first player to reach 21 points (or otherwise specified) wins that game, however a game must be won by at least a two point margin.</li>
				<li>The player in the 'green' corner will be first to serve.</li>
				<li>Serving will switch every 5 serves until game point.</li>
				<li>For game point, the player that does not have game point will serve.</li>
				<li>If game point goes away, serving reverts back to every 5th serve.</li>
			</ul>
		</div>

		<div class="container">
			<h4>Doubles</h4>

			<ul>
				<li>A match is played best of 1, 2 of 3, or 3 of 5 games.</li>
				<li>For each game, the first player to reach 21 points (or otherwise specified) wins that game, however a game must be won by at least a two point margin.</li>
				<li>The player in the 'green' corner will be first to serve.</li>
				<li>Serving will switch every 5 serves until game point.</li>
				<li>
					ALL serves must be hit from serving team's right square first, followed by the returning teams diagonal square.
					Any serve that fails to meet this condition (even a net serve) results in loss of point.
				</li>
				<li>Immediately after serving, the player switches position with their teammate.</li>
				<li>You cannot lose on a serve.</li>
			</ul>
		</div>

		<div class="container">
			<h4>Nines</h4>

			<ul>
				<li>Each player starts with 9 points (or otherwise specified).</li>
				<li>Before the match can begin, someone must declare "nines" and will be the first to serve.</li>
				<li>If the ball touches your corner of the table, it is your responsibility to return the ball.</li>
				<li>If the returner misses the ball or is hit off of the table, they lose a point.</li>
				<li>If a player loses a point and only has one point remaining, they are granted a single courtesy serve.</li>
				<li>Once a player has run out of points, they are out of the game.</li>
				<li>The last player with points remaining is the winner.</li>
				<li>In the event that both players on one side of the table are out, the app will determine where the remaining players will be.</li>
			</ul>

		</div>

	</div>

{% endblock %}
