
{% extends "layout.html" %}

{% block title %}Play Doubles{% endblock %}

{% block body %}

	{% include 'matches/smack-talk.html' %}

	<div id="doubles" data-matchid="{{ data.matchId }}" class="container-fluid">

		<div class="doubles-container">

			<div class="score-board">
				<span class="name truncate" data-var="name" data-color="yellow">
					{{ data.players.yellow.playerName }}
				</span>
				<span class="score" data-var="score" data-team="south">{{ '%02d' % data.teams.south.points }}</span>
				<span class="name truncate" data-var="name" data-color="blue">
					{{ data.players.blue.playerName }}
				</span>
			</div>

			<div class="sets complete-hide {% if data.complete %}hidden{% endif %}">

				<span class="serving">
					<span class="glyphicon glyphicon-arrow-left {% if data.players.yellow.serving %}active{% endif %}" data-var="serving" data-color="yellow"></span>
					<span class="glyphicon glyphicon-arrow-right {% if data.players.green.serving %}active{% endif %}" data-var="serving" data-color="green"></span>
				</span>

				<span class="middle">
					<span class="text">Set</span>
					<span class="set">
						<span class="num" data-var="set">{{ data.game }}</span>
						<span class="total">/ {{ data.numOfGames }}</span>
					</span>

					<span class="playing-to">Playing to {{ data.playTo }}</span>
				</span>

				<span class="serving bottom">
					<span class="glyphicon glyphicon-arrow-left {% if data.players.blue.serving %}active{% endif %}" data-var="serving" data-color="blue"></span>
					<span class="glyphicon glyphicon-arrow-right {% if data.players.red.serving %}active{% endif %}" data-var="serving" data-color="red"></span>
				</span>

			</div>

			<div class="play-again-container complete-show {% if not data.complete %}hidden{% endif %}">

				<h2>Play Again</h2>

				<form id="play-again" method="POST" action="/matches/{{ data.matchId }}/play-again" class="play-again">
					<button type="submit" class="btn btn-default btn-block" name="numOfGames" value="1">Best Of 1</button>
					<button type="submit" class="btn btn-default btn-block" name="numOfGames" value="3">Best Of 3</button>
					<button type="submit" class="btn btn-default btn-block" name="numOfGames" value="5">Best Of 5</button>

					<div class="form-group">
						<label>Same Teams:</label>
						<input type="hidden" name="randomize" value="true" />
						<button type="button" class="btn btn-default randomize">No</button>
					</div>

				</form>

				<a href="{{ url_for('mainController.index') }}" class="btn btn-block btn-default">
					Main Menu
				</a>

				<form id="undo" method="POST" action="/matches/{{ data.matchId }}/undo" class="undo">
					<button type="submit" class="btn btn-default btn-block">Undo Last Point</button>
				</form>

			</div>

			<div class="score-board">
				<span class="name truncate" data-var="name" data-color="green">
					{{ data.players.green.playerName }}
				</span>
				<span class="score" data-var="score" data-team="north">{{ '%02d' % data.teams.north.points }}</span>
				<span class="name truncate" data-var="name" data-color="red">
					{{ data.players.red.playerName }}
				</span>
			</div>

		</div>

		<table class="table table-bordered set-scores">

			<tr>

				<td>
					<a href="{{ url_for('leaderboardController.index', matchType = 'doubles') }}" title="View Doubles Leaderboard">Leaderboard</a>
				</td>

				{% for i in range(1, data.numOfGames + 1) %}
					<td>{{ i }}</td>
				{% endfor %}

			</tr>

			{% for side in data["teams"] %}

				<tr data-teamid="{{ data.teams[side].teamId }}">

					<td>
						{{ data.teams[side].players|join(' <span class="text-sm">and</span> ')|safe }}
						{% if data.teams[side].winner %}
							- <strong>Winner!</strong>
						{% endif %}
					</td>

					{% for i in range(0, data.numOfGames) %}
						{% if data.teams[side].games[i].score != None %}
							<td class="set-score {% if data.teams[side].games[i]["win"] %}win{% endif %}">
								{{ '%02d' % data.teams[side].games[i].score }}
							</td>
						{% else %}
							<td class="set-score"></td>
						{% endif %}
					{% endfor %}

				</tr>

			{% endfor %}

		</table>

		{% if config.DEBUG_TOOLS %}
			{% include 'partials/scoring-tools.html' %}
		{% endif %}

	</div>


{% endblock %}
