
{% extends "layout.html" %}

{% block title %}Manually Enter Score{% endblock %}

{% block body %}

	<div id="match-entry" class="match-entry container">

		<h1>Manually Enter Score</h1>

		<form action="{{ url_for('matchController.entry') }}" method="POST">

			<div class="row">

				<div class="col-xs-2">

					<strong>Match Type</strong>

					<div class="radio">
						<label>
							<input type="radio" name="matchType" value="singles">
							Singles
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="matchType" value="doubles">
							Doubles
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="matchType" value="nines">
							Nines
						</label>
					</div>

				</div>
				<div class="col-xs-2">

					<strong>Best Of</strong>

					<div class="radio">
						<label>
							<input type="radio" name="numOfGames" value="1">
							&nbsp;1&nbsp;
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="numOfGames" value="3">
							&nbsp;3&nbsp;
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="numOfGames" value="5">
							&nbsp;5&nbsp;
						</label>
					</div>

				</div>
				<div class="col-xs-8">

					<div class="players">

						{% for player in players %}
							<div class="checkbox player">
								<label>
									<input type="checkbox" name="playerId" value="{{ player.id }}" data-name="{{ player.name }}">
									{{ player.name }}
								</label>
							</div>
						{% endfor %}

					</div>

				</div>

			</div>

			<table>
				<tbody>
					<tr class="set-sets"></tr>
					<tr class="set-team1"></tr>
					<tr class="set-team2"></tr>
				</tbody>
			</table>

			<button class="btn btn-primary btn-block">Submit</button>

		</form>

	</div>

{% endblock %}
