
{% extends "layout.html" %}

{% block title %}Previous Matches{% endblock %}

{% block body %}

	<div class="container matches-container">

		{% with id = "matches-season-filter", action = "/matches", season = season, seasons = seasons %}
			{% include 'partials/seasons.html' %}
		{% endwith %}

		<select id="matches-player-filter" name="playerId" class="player-filter form-control input-sm" title="Filter By Player">
			<option value="">Player...</option>
			{% for player in players %}
				<option value="{{ player.id }}" {% if playerId == player.id %}selected{% endif %}>{{ player.name }}</option>
			{% endfor %}
		</select>

		<select id="matches-opponent-filter" name="opponentId" class="opponent-filter form-control input-sm" title="Filter By Opponent">
			<option value="">Opponent...</option>
			{% for player in players %}
				<option value="{{ player.id }}" {% if opponentId == player.id %}selected{% endif %}>{{ player.name }}</option>
			{% endfor %}
		</select>

		<select id="matches-match-type-filter" name="matchType" class="match-type-filter form-control input-sm" title="Filter By Match Type">
			<option value="">Match Type...</option>
			{% for item in matchTypes %}
				<option value="{{ item }}" {% if matchType == item %}selected{% endif %}>{{ item.title() }}</option>
			{% endfor %}
		</select>

		<a href="{{ url_for('matchController.index') }}" class="match-clear-filter btn btn-default">Clear</a>

		<h1 class="with-action">
			<a href="{{ url_for('matchController.index') }}">{{ count }} Matches</a>
		</h1>

		<table class="table match-list {{ matchType }}">

			<thead>

				<tr>

					<th>Date</th>
					<th>Type</th>
					<th>Teams</th>
					<th colspan="2"></th>

				</tr>

			</thead>

			<tbody>

				{% for match in matches %}

						<tr>

							<td>{{ "{:%b %d, %Y %I:%M %p} ".format(match.createdAt) }}</td>
							<td>{{ match.matchType.title() }}</td>

							<td class="score-cell">

								{% if match.matchType == "nines" %}

									{% for team in match.teams %}

										{% for player in team.players %}
											<a href="/leaderboard/players/{{ player.id }}" title="View {{ player.name }}'s Statistics">
												{% if team.hasWon() %}
													<strong>{{ player.name }}</strong>
												{% else %}
													{{ player.name }}
												{% endif %}
											</a>
										{% endfor %}

										{% if loop.index < 4 %}
											-
										{% endif %}

									{% endfor %}

								{% else %}

									<table class="table table-bordered score-table">

										{% for team in match.teams %}

											<tr>

												<td class="name {% if team.hasWon() %}winner{% endif %}">

													{% for player in team.players %}

														{% if loop.index == 2 %}
															&amp;
														{% endif %}

														<a href="{{ url_for('leaderboardController.players', id = player.id) }}" title="View {{ player.name }}'s Statistics">
															{{ player.name }}
														</a>

														<span class="elo-change">

															{% if match.id in elo["matches"] %}
																{% if player.id in elo["matches"][match.id] %}

																	{% set eloCurrent = elo["matches"][match.id][player.id]["current"]|round|int %}
																	{% set eloChange = elo["matches"][match.id][player.id]["change"]|round|int %}

																	{{ eloCurrent }}

																	{% if eloChange > 0 %}
																		<span class="positive">(+{{ eloChange }})</span>
																	{% elif eloChange < 0 %}
																		<span class="negative">({{ eloChange }})</span>
																	{% else %}
																		({{ eloChange }})
																	{% endif %}

																{% endif %}
															{% endif %}

														</span>

													{% endfor %}

												</td>

												{% for game in match.games %}

													{% if game.winner == team.id %}
														<td class="score winner">{{ game.winnerScore }}</td>
													{% elif game.loser == team.id %}
														<td class="score loser">{{ game.loserScore }}</td>
													{% endif %}

												{% endfor %}

											</tr>

										{% endfor %}

									</table>

								{% endif %}

							</td>

							<td width="1">
								<a href="/matches/{{ match.id }}" class="btn btn-default">View Match</a>
							</td>

							{% if current_user.is_authenticated %}
								<td width="1">
									<form action="{{ url_for('matchController.delete', id = match.id, season = season, playerId = playerId, matchType = matchType) }}" method="POST" class="action-delete">
										<button class="btn btn-danger btn-sm">
											<span class="glyphicon glyphicon-trash"></span>
											Delete
										</button>
									</form>
								</td>
							{% endif %}

						</tr>

				{% else %}

					<tr>

						<td colspan="5">No matches found.</td>

					</tr>

				{% endfor %}

			</tbody>

		</table>

		{% with paging = paging %}
			{% include 'partials/pagination.html' %}
		{% endwith %}

	</div>

{% endblock %}

