
{% extends "layout.html" %}

{% block title %}Previous Matches{% endblock %}

{% block body %}

	<div class="container matches-container">

		<select id="matches-player-filter" class="player-filter form-control" autofocus>
			<option value="">Filter by player...</option>
			{% for player in players %}
				<option value="{{ player.id }}" {% if playerId == player.id %}selected{% endif %}>{{ player.name }}</option>
			{% endfor %}
		</select>

		<h1>Previous Matches - {{ count }}</h1>

		<table class="table">

			<thead>

				<tr>

					<th>Date</th>
					<th>Type</th>
					<th>Teams</th>
					<th></th>

				</tr>

			</thead>

			<tbody>

				{% for match in matches %}

						<tr>

							<td>{{ "{:%b %d, %Y %I:%M %p} ".format(match.createdAt) }}</td>
							<td>{{ match.matchType.title() }}</td>

							<td class="score-cell">

								{% if match.matchType == "nines" %}

									{% for team in match.teams %}

										{% for player in team.players %}
											<a href="/leaderboard/players/{{ player.id }}">
												{% if team.win %}
													<strong>{{ player.name }}</strong>
												{% else %}
													{{ player.name }}
												{% endif %}
											</a>
										{% endfor %}

										{% if loop.index < 4 %}
											-
										{% endif %}

									{% endfor %}

								{% else %}

									<table class="table table-bordered score-table">

										{% for team in match.teams %}

											<tr>

												<td class="name {% if team.win %}winner{% endif %}">
													{% for player in team.players %}
														{% if loop.index == 2 %}
															&amp;
														{% endif %}
														<a href="/leaderboard/players/{{ player.id }}">{{ player.name }}</a>
													{% endfor %}
												</td>

												{% for game in match.games %}
													{% if game.winner == team.id %}
														<td class="score winner">{{ game.winnerScore }}</td>
													{% elif game.loser == team.id %}
														<td class="score loser">{{ game.loserScore }}</td>
													{% endif %}
												{% endfor %}

											</tr>

										{% endfor %}

									</table>

								{% endif %}

							</td>

							<td>
								<a href="/matches/{{ match.id }}" class="btn btn-default">View Match</a>
							</td>

						</tr>

				{% endfor %}

			</tbody>

		</table>

		{% with url = url, paging = paging %}
			{% include 'partials/pagination.html' %}
		{% endwith %}

	</div>

{% endblock %}
