
{% extends "layout.html" %}

{% block title %}Play Nines{% endblock %}

{% block body %}

	{% include 'matches/smack-talk.html' %}

	<div id="nines" data-matchid="{{ data.matchId }}" class="container-fluid">

		<div class="nines-container">

			<!-- Yellow -->
			<div class="score-board {% if data.players.yellow.out %}out{% endif %}" data-var="board" data-color="yellow">
				<div class="nines-avatar-container">
					{% with id = data.players.yellow.playerId, avatar = data.players.yellow.playerAvatar, class = "avatar-nines yellow" %}
						{% include 'partials/avatar.html' %}
					{% endwith %}
				</div>

				<span class="name truncate" data-var="name" data-color="yellow">{{ data.players.yellow.playerName }}</span>
				<span class="score" data-var="score" data-color="yellow">{{ data.players.yellow.points }}</span>
			</div>

			<!-- Green -->
			<div class="score-board {% if data.players.green.out %}out{% endif %}" data-var="board" data-color="green">
				<div class="nines-avatar-container green">
					{% with id = data.players.green.playerId, avatar = data.players.green.playerAvatar, class = "avatar-nines green" %}
						{% include 'partials/avatar.html' %}
					{% endwith %}
				</div>

				<span class="score" data-var="score" data-color="green">{{ data.players.green.points }}</span>
				<span class="name truncate" data-var="name" data-color="green">{{ data.players.green.playerName }}</span>
			</div>

			<!-- Blue -->
			<div class="score-board {% if data.players.blue.out %}out{% endif %}" data-var="board" data-color="blue">
				<div class="nines-avatar-container">
					{% with id = data.players.blue.playerId, avatar = data.players.blue.playerAvatar, class = "avatar-nines blue" %}
						{% include 'partials/avatar.html' %}
					{% endwith %}
				</div>

				<span class="name truncate" data-var="name" data-color="blue">{{ data.players.blue.playerName }}</span>
				<span class="score" data-var="score" data-color="blue">{{ data.players.blue.points }}</span>
			</div>

			<!-- Red -->
			<div class="score-board {% if data.players.red.out %}out{% endif %}" data-var="board" data-color="red">
				<div class="nines-avatar-container">
					{% with id = data.players.red.playerId, avatar = data.players.red.playerAvatar, class = "avatar-nines red" %}
						{% include 'partials/avatar.html' %}
					{% endwith %}
				</div>

				<span class="score" data-var="score" data-color="red">{{ data.players.red.points }}</span>
				<span class="name truncate" data-var="name" data-color="red">{{ data.players.red.playerName }}</span>
			</div>

			<form id="play-again" method="POST" action="/matches/{{ data.matchId }}/play-again" class="play-again {% if not data.complete %}hidden{% endif %}">
				<button class="btn btn-block btn-info">Press any button to play again</button>
			</form>
			<form id="undo" method="POST" action="/matches/{{ data.matchId }}/undo" class="undo {% if not data.complete %}hidden{% endif %}">
				<button type="submit" class="btn btn-default btn-warning btn-block">Undo Last Point</button>
			</form>

		</div>

		{% if config.DEBUG_TOOLS %}
			{% include 'partials/scoring-tools.html' %}
		{% endif %}

	</div>

{% endblock %}
