<div id="smack-talk" class="smack-talk">

	<button id="smack-talk-button" class="smack-talk-button btn btn-default">Talk Smack</button>

	<form id="smack-talk-form" class="smack-talk-form form-inline" action="{{ url_for('matchController.smack_talk', id = data.matchId) }}" method="POST">

		<input id="smack-talk-input" type="text" class="form-control" autocomplete="off" placeholder="Message or image url..." />

		<div class="checkbox">
			<label>
				<input id="smack-talk-image" type="checkbox" name="image" autocomplete="off" /> Image
			</label>
		</div>

		<button class="btn btn-default">Send</button>

	</form>

</div>
