{% extends "layout.html" %}

{% block title %}Rules{% endblock %}

{% block body %}

	<div class="container">

		<h1>Rules</h1>
		<p class="text-center">(work in progress)</p>

		<div class="container">
			<h4>Singles</h4>

			<p>A match is played best of 1, 2 of 3, or 3 of 5 games.</p>
			<p>For each game, the first player to reach 21 points (or otherwise specified) wins that game, however a game must be won by at least a two point margin.</p>
		</div>

		<div class="container">
			<h4>Doubles</h4>

			<p>A match is played best of 1, 2 of 3, or 3 of 5 games.</p>
			<p>For each game, the first player to reach 21 points (or otherwise specified) wins that game, however a game must be won by at least a two point margin.</p>
		</div>

		<div class="container">
			<h4>Singles/Doubles Serve Rules</h4>

			<p>If you throw the ball in the air, attempt to hit it, and fail, it is a loss of point.</p>
			<p>ANY serve (including a net hit) that does not hit your side first, followed by you opponents side is a loss of point.</p>
			<p>DOUBLES only rule: ALL serves must be hit from serving team's right square first, followed by the returning teams diagonal square. Any serve that fails to meet this condition (even a net serve) results in loss of point.</p>
		</div>

		<div class="container">
			<h4>Nines</h4>

			<p>Stuff</p>
		</div>

	</div>

{% endblock %}
