<div class="form-group">

	<label for="name-field">Name</label>
	<input id="name-field" type="text" name="name" value="{{ player.name }}" class="form-control" autocomplete="off" autofocus />

</div>

<div class="form-group">

	<label for="name-field">Avatar</label>

	{% if player.avatar != None %}
		<img src="{{ url_for('playerController.avatar', id = player.id, avatar = player.avatar) }}" class="avatar-player-form" />
	{% endif %}

	<input id="avatar-field" type="file" name="avatar" value="" class="" />

</div>
