{% extends "layout.html" %}

{% block title %}Update Player{% endblock %}

{% block body %}

	<div class="container">

		<h1>
			<a href="{{ url_for('playerController.players_index') }}">Players</a>
			/
			<a href="{{ url_for('playerController.players_edit', id = player.id) }}">Update Player</a>
		</h1>

		<form action="{{ url_for('playerController.players_update', id = player.id) }}" method="POST">

			{% include 'players/_form.html' %}

			<button class="btn btn-default">Update Player</button>

		</form>

	</div>

{% endblock %}
