{% extends "layout.html" %}

{% block title %}Edit Player{% endblock %}

{% block body %}

	<div class="container-fluid players">

		<h1>Edit Player</h1>

		{% if error %}
			<div class="alert alert-danger">That name is already taken. Please specify a unique name.</div>
		{% endif %}

		<form action="/players/{{ player.id }}/" method="POST">

			<div class="form-group">

				<input type="text" name="name" value="{{ player.name }}" class="form-control" placeholder="Name..." autocomplete="off" maxlength="255" required />

			</div>

			<button type="submit" class="btn btn-default btn-primary">Update Player</button>

			<a class="btn btn-default btn-sm" href="/players/">Cancel</a>

		</form>

	</div>

{% endblock %}