{% extends "layout.html" %}

{% block title %}Players{% endblock %}

{% block body %}

	<div class="container players-container">

		<a class="btn btn-default btn-sm action" href="{{ url_for('playerController.new') }}">
			<span class="glyphicon glyphicon-star"></span>
			Create Player
		</a>

		<h1 class="with-action">
			<a href="{{ url_for('playerController.index') }}">Players</a>
		</h1>

		{% for player in players %}

			<div class="player-portrait">

				<a href="{{ url_for('leaderboardController.players', id = player.id) }}" class="link" title="View {{ player.name }}'s Statistics">{{ player.name }}</a>

				<a href="{{ url_for('playerController.edit', id = player.id) }}" class="link">
					<span class="glyphicon glyphicon-pencil"></span>
					Edit
				</a>

				{% if current_user.is_authenticated %}
					{% if player.enabled %}
						<form action="{{ url_for('playerController.disable', id = player.id) }}" method="POST">
							<button class="btn btn-success btn-xs btn-block">
								<span class="glyphicon glyphicon glyphicon-ok"></span>
								Enabled
							</button>
						</form>
					{% else %}
						<form action="{{ url_for('playerController.enable', id = player.id) }}" method="POST">
							<button class="btn btn-warning btn-xs btn-block">
								<span class="glyphicon glyphicon glyphicon-ban-circle"></span>
								Disabled
							</button>
						</form>
					{% endif %}

					<form action="{{ url_for('playerController.delete', id = player.id) }}" method="POST" class="action-delete">
						<button class="btn btn-danger btn-xs btn-block">
							<span class="glyphicon glyphicon-trash"></span>
							Delete
						</button>
					</form>
				{% endif %}

				{% with id = player.id, avatar = player.avatar, class = "avatar-players" %}
					{% include 'partials/avatar.html' %}
				{% endwith %}

			</div>

		{% endfor %}

	</div>

{% endblock %}
