{% extends "layout.html" %}

{% block title %}Players{% endblock %}

{% block body %}

	<div class="container container-medium">

		<a class="btn btn-default btn-sm action" href="{{ url_for('playerController.new') }}">
			<span class="glyphicon glyphicon-star"></span>
			Create Player
		</a>

		<h1 class="with-action">
			<a href="{{ url_for('playerController.index') }}">Players</a>
		</h1>

		<table class="table">

			<tbody>

				{% for player in players %}

					<tr>

						<td class="avatar">
							{% with id = player.id, avatar = player.avatar, class = "avatar-players" %}
								{% include 'partials/avatar.html' %}
							{% endwith %}
						</td>

						<td>
							<a href="{{ url_for('leaderboardController.players', id = player.id) }}" class="link">{{ player.name }}</a>
						</td>

						<td width="1">
							<a href="{{ url_for('playerController.edit', id = player.id) }}" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-pencil"></span>
								Edit
							</a>
						</td>

						{% if current_user.is_authenticated %}
							<td width="1">
								{% if player.enabled %}
									<form action="{{ url_for('playerController.disable', id = player.id) }}" method="POST">
										<button class="btn btn-success btn-sm btn-block">
											<span class="glyphicon glyphicon glyphicon-ok"></span>
											Enabled
										</button>
									</form>
								{% else %}
									<form action="{{ url_for('playerController.enable', id = player.id) }}" method="POST">
										<button class="btn btn-warning btn-sm btn-block">
											<span class="glyphicon glyphicon glyphicon-ban-circle"></span>
											Disabled
										</button>
									</form>
								{% endif %}
							</td>

							<td width="1">
								<form action="{{ url_for('playerController.delete', id = player.id) }}" method="POST" class="action-delete">
									<button class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-trash"></span>
										Delete
									</button>
								</form>
							</td>
						{% endif %}

					</tr>

				{% else %}

					<tr>

						<td colspan="10" class="text-center">No players found.</td>

					</tr>

				{% endfor %}

			</tbody>

		</table>

	</div>

{% endblock %}
