{% extends "layout.html" %}

{% block title %}Create Player{% endblock %}

{% block body %}

	<div class="container">

		<h1>
			<a href="{{ url_for('playerController.players_index') }}">Players</a>
			/
			<a href="{{ url_for('playerController.players_new') }}">Create Player</a>
		</h1>

		<form action="{{ url_for('playerController.players_create', matchId = matchId) }}" method="POST">

			{% include 'players/_form.html' %}

			<button class="btn btn-default">Create Player</button>

		</form>

	</div>

{% endblock %}
