{% extends "layout.html" %}

{% block title %}Buttons{% endblock %}

{% block body %}

	<style>

		button {
			display: block;
			width: 100px;
			cursor: pointer;
			border: solid 1px #ccc;
			border-radius: 4px;
			padding: 8px;
			color: white;
			margin: auto;
		}

		button:nth-child(3n - 2){
			margin-top: 12px;
		}

		button:nth-child(6){
			margin-bottom: 36px;
		}

		button.red {
			background: red;
		}

		button.green {
			background: green;
		}

		button.blue {
			background: blue;
		}

		button.yellow {
			background: yellow;
			color: black;
		}

	</style>

	<div class="container">

		<button class="red" data-color="red" data-action="score">score</button>
		<button class="red" data-color="red" data-action="undo">undo</button>
		<button class="red" data-color="red" data-action="new">new</button>

		<button class="green" data-color="green" data-action="score">score</button>
		<button class="green" data-color="green" data-action="undo">undo</button>
		<button class="green" data-color="green" data-action="new">new</button>

		<button class="blue" data-color="blue" data-action="score">score</button>
		<button class="blue" data-color="blue" data-action="undo">undo</button>
		<button class="blue" data-color="blue" data-action="new">new</button>

		<button class="yellow" data-color="yellow" data-action="score">score</button>
		<button class="yellow" data-color="yellow" data-action="undo">undo</button>
		<button class="yellow" data-color="yellow" data-action="new">new</button>

	</div>

{% endblock %}

{% block footer %}

	<script>

		$(function(){

			$("button").on("click", function(){
				var button = $(this);
				$.post("/buttons/" + button.data("color") + "/" + button.data("action"));
			});

			setInterval(function(){
				var rand = Math.floor(Math.random() * 4);
				// $("button[data-action=score]").eq(rand).click();
			}, 2500);

		});

	</script>

{% endblock %}