<!DOCTYPE html>
<html lang="en">
	<head>

		{% block head %}

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

			<title>Ping Pong{% if request.endpoint != "index" %} | {% endif %}{% block title %}{% endblock %}</title>
			<link rel="shortcut icon" href="/static/images/ping-pong-icon.png" type="image/x-icon" />
			<link href="{{ url_for('static', filename='libraries/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			{% assets "css_all" %}
				<link href="{{ ASSET_URL }}" rel="stylesheet">
			{% endassets %}

		{% endblock %}

	</head>
	<body {% if config.DEBUG_TOOLS %}class="debug"{% endif %}>

		{% if request.endpoint != "index" %}
			<header>
				<a href="/">Ping Pong</a>
			</header>
		{% endif %}

		{% block body %}{% endblock %}

		{% assets "js_all" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% block footer %}{% endblock %}

	</body>
</html>
