<!DOCTYPE html>
<html lang="en">
	<head>

		{% block head %}

			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

			<title>Ping Pong{% if request.endpoint != "index" %} | {% endif %}{% block title %}{% endblock %}</title>
			<link rel="shortcut icon" href="/static/images/ping-pong-icon.png" type="image/x-icon" />
			<link href="{{ url_for('static', filename='libraries/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
			{% assets filters="cssmin", output="gen/ping-pong.css", "stylesheets/app.css", "stylesheets/singles.css", "stylesheets/doubles.css", "stylesheets/nines.css", "stylesheets/leaderboard.css", "stylesheets/debug.css" %}
				<link href="{{ ASSET_URL }}" rel="stylesheet">
			{% endassets %}

		{% endblock %}

	</head>
	<body {% if request.args.get('debug') %}class="debug"{% endif %}>

		{% if request.endpoint != "index" %}
			<header>
				<a href="/">Ping Pong</a>
			</header>
		{% endif %}

		{% block body %}{% endblock %}

		{% assets filters="jsmin", output="gen/ping-pong.js", "libraries/jquery.min.js", "libraries/socket.io.min.js", "libraries/stupidtable.min.js", "javascripts/app.js", "javascripts/isms.js", "javascripts/singles.js", "javascripts/doubles.js", "javascripts/nines.js" %}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		{% block footer %}{% endblock %}

		{% if request.args.get('debug') %}
			<form class="debug-delete-matches" action="/matches/delete" method="POST">
				<button class="btn btn-danger">Delete Matches</button>
			</form>
			<iframe src="/buttons" class="debug-button-panel"></iframe>
		{% endif %}

	</body>
</html>
