<div class="form-inline">
	<div class="form-group">

		<label for="left-field">Score</label>

		<div class="input-group">
			<div class="input-group-addon">Left</div>
			<input id="left-field" name="left" value="{{ ism.left }}" class="form-control" autofocus />
		</div>

		<div class="input-group">
			<input id="right-field" name="right" value="{{ ism.right }}" class="form-control" />
			<div class="input-group-addon">Right</div>
		</div>

	</div>
</div>

<br />

<div class="form-group">

	<label for="saying-field">Saying</label>
	<input id="saying-field" name="saying" value="{{ ism.saying }}" class="form-control" />

</div>
