{% extends "layout.html" %}

{% block title %}Isms{% endblock %}

{% block body %}

	<div id="isms" class="container">

		<a class="btn btn-default btn-sm action" href="{{ url_for('ismController.new') }}">
			<span class="glyphicon glyphicon-star"></span>
			Create Ism
		</a>

		<h1 class="with-action">
			<a href="{{ url_for('ismController.index') }}">Isms</a>
		</h1>

		<table class="table table-condensed">

			<tbody>

				{% for ism in isms %}

					<tr>

						<td>
							<span class="text-center" style="display: inline-block; width: 16px;">{{ ism.left }}</span>
							<span class="text-center" style="display: inline-block;">-</span>
							<span class="text-center" style="display: inline-block; width: 16px;">{{ ism.right }}</span>
						</td>
						<td>{{ ism.saying }}</td>

						<td width="1">
							<a href="{{ url_for('ismController.edit', id = ism.id) }}" class="btn btn-default btn-sm">
								<span class="glyphicon glyphicon-pencil"></span>
								Edit
							</a>
						</td>

						{% if current_user.is_authenticated %}
							<td width="1">
								{% if ism.approved %}
									<form action="{{ url_for('ismController.reject', id = ism.id) }}" method="POST">
										<button class="btn btn-success btn-sm btn-block">
											<span class="glyphicon glyphicon glyphicon-ok"></span>
											Approved
										</button>
									</form>
								{% else %}
									<form action="{{ url_for('ismController.approve', id = ism.id) }}" method="POST">
										<button class="btn btn-warning btn-sm btn-block">
											<span class="glyphicon glyphicon glyphicon-ban-circle"></span>
											Rejected
										</button>
									</form>
								{% endif %}
							</td>

							<td width="1">
								<form action="{{ url_for('ismController.delete', id = ism.id) }}" method="POST" class="action-delete">
									<button class="btn btn-danger btn-sm">
										<span class="glyphicon glyphicon-trash"></span>
										Delete
									</button>
								</form>
							</td>
						{% endif %}

					</tr>

				{% else %}

					<tr>

						<td colspan="10" class="text-center">No isms found.</td>

					</tr>

				{% endfor %}

			</tbody>

		</table>

	</div>

{% endblock %}
