{% extends "layout.html" %}

{% block title %}Create Ism{% endblock %}

{% block body %}

	<div class="container">

		<h1>
			<a href="/isms">Isms</a>
			/
			<a href="/isms/new">Create Ism</a>
		</h1>

		{% if error %}
			<div class="alert alert-danger">That name is already taken. Please specify a unique name.</div>
		{% endif %}

		<form action="/isms" method="POST">

			{% include 'isms/_form.html' %}

			<button class="btn btn-default">Create Ism</button>

		</form>

	</div>

{% endblock %}
