{% extends "layout.html" %}

{% block title %}Games{% endblock %}

{% block body %}

	<div class="container-fluid games">

		<h1>Games</h1>

		<table class="table linked">

			<tbody>

				{% for game in games %}

					<tr>

						<td>
							<a class="table-cell-link text-center" href="/games/{{ game.id }}/play/">
								{{ dates[game.id]["date"] }}<br />
								{{ dates[game.id]["time"] }}
							</a>
						</td>

						{% for team in game.teams %}
							<td class="players">
								<a class="table-cell-link text-center" href="/games/{{ game.id }}/play/">
									{% for teamPlayer in team.teamPlayers %}
										{{ teamPlayer.player.name }}<br />
									{% endfor %}
								</a>
							</td>
							<td class="score">
								<a class="table-cell-link text-center" href="/games/{{ game.id }}/play/">
									{{ team.score }}
								</a>
							</td>
							<td class="vs">vs</td>
						{% endfor %}

						<!--
						<td>
							<a class="table-cell-link text-center" href="/games/{{ game.id }}/play/">
								{% for team in game.teams %}
									<span class="players">
										{% for teamPlayer in team.teamPlayers %}
											<span class="player">{{ teamPlayer.player.name }}</span>
										{% endfor %}
									</span>
									<span class="score">{{ team.score }}</span>
									<span class="vs">vs</span>
								{% endfor %}
							</a>
						</td>
						-->

					</tr>

				{% endfor %}

				{% if games.count() == 0 %}

					<tr>
						<td class="text-center">No games have been played.</td>
					</tr>

				{% endif %}

			</tbody>

		</table>

	</div>

{% endblock %}
