{% extends "layout.html" %}

{% block title %}Ping Pong{% endblock %}

{% block body %}

	<div class="games-play" data-gameid="{{ game.id }}" data-playto="{{ game.playTo }}">

		<div class="teams">

			{% for team in teams %}

				<div class="team">

					{% for teamPlayer in team.teamPlayers %}

						<div>{{ teamPlayer.player.name }}</div>

					{% endfor %}

				</div>

			{% endfor %}

		</div>

		<div class="scores">

			{% for team in teams %}

				<div class="score">

					{% with name = "team-" ~ team.id, value = team.score, min = 0, max = game.playTo, interval = 1, data = [{ "teamid": team.id }] %}
						{% include 'tools/_value-picker.html' %}
					{% endwith %}

				</div>

			{% endfor %}

		</div>

		<div class="max-score">
			Play To {{ game.playTo }}
		</div>

	</div>

{% endblock %}
