@font-face {
	font-family: digital;
	src: url("/static/fonts/digital-7.ttf");
}

html {}

body {
	font-size: 14px;
	font-family: Arial;
	width: 100%;
}

button {
	border: none;
	background: none;
}

.container-fluid {
	padding-bottom: 20px;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a.header {
	text-align: center;
	display: block;
	color: #333;
	font-size: 32px;
	margin: 16px;
}

a.header:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

.inline-block {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.btn.action {
	float: right;
}

h1 {
	margin: 0 0 16px;
	font-size: 28px;
	text-align: center;
}

h1.with-action {
	text-align: left;
	margin-top: 4px;
}



.main-image {
	 display: block;
	 margin: 20px auto;
}


.teams {
	overflow: hidden;
}

.teams .team-list {
	float: left;
	width: 49%;
}

.teams .team-list:first-child {
	margin-right: 1%;
}

.teams .team-list:last-child {
	margin-left: 1%;
}

.teams .list-group-item.header {
	text-align: center;
	font-weight: bold;
}

.teams .list-group-item.current {
	background: #5bc0de;
	color: #fff;
}

.teams .list-group-item .glyphicon {
	display: none;
}

.teams .list-group-item.current .glyphicon {
	display: inline;
	float: right;
}



.value-picker {
	overflow: hidden;
	margin: auto;
	width: 304px;
}

.value-picker input {
	border: solid 1px #000;
	width: 200px;
	height: 200px;
	text-align: center;
	float: left;
	border-radius: 4px;
	font-size: 150px;
	font-family: digital;
}

.value-picker input:disabled {
	background: none;
}

.value-picker .controls {
	float: left;
	margin-left: 4px;
}

.value-picker button {
	font-size: 28px;
	display: block;
	border: solid 1px #000;
	border-radius: 4px;
	width: 100px;
	height: 98px;
}

.value-picker button:active {
	padding: 0;
	margin: 0;
	background: #ccc;
}

.value-picker button:first-child {
	margin-bottom: 4px;
}

.value-picker button:last-child {
	margin-top: 4px;
}

.value-picker button.disabled {
	color: #999;
	border-color: #999;
	cursor: default;
}
.value-picker button.disabled:active {
	background: none;
}


.games-play {}

.games-play .teams {
	overflow: hidden;
	margin-bottom: 16px;
}

.games-play .team {
	float: left;
	width: 50%;
	text-align: center;
	font-size: 24px;
}

.games-play .scores {
	overflow: hidden;
}

.games-play .score {
	float: left;
	width: 50%;
}

.games-play .max-score {
	text-align: center;
	font-size: 18px;
	margin-top: 24px;
}


.table.linked {

}

.table.linked td {
	padding: 0;
	vertical-align: middle;
}

.table.linked a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #333;
}


.table.linked .players {
	width: 120px;
}
.table.linked .player {
}
.table.linked .score {
	width: 120px;
	font-size: 20px;
}
.table.linked .vs {
	width: 10%;
	text-align: center;
}
.table.linked tr td:last-child {
	display: none;
}
