@font-face {
	font-family: digital;
	src: url("/static/fonts/digital-7.ttf");
}

@font-face {
	font-family: moondart;
	src: url("/static/fonts/moondart.ttf");
}

html {}

body {
	font-size: 14px;
	font-family: Arial;
	width: 100%;
}

button {
	border: none;
	background: none;
}

.container-fluid {
	padding-bottom: 20px;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a.header {
	text-align: center;
	display: block;
	color: #333;
	font-size: 32px;
	margin: 16px;
}

a.header:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

.inline-block {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.btn.action {
	float: right;
}

h1 {
	margin: 0 0 16px;
	font-size: 28px;
	text-align: center;
}

h1.with-action {
	text-align: left;
	margin-top: 4px;
}


.teams {
	overflow: hidden;
}

.teams .team-list {
	float: left;
	width: 49%;
}

.teams .team-list:first-child {
	margin-right: 1%;
}

.teams .team-list:last-child {
	margin-left: 1%;
}

.teams .list-group-item.header {
	text-align: center;
	font-weight: bold;
}

.teams .list-group-item.current {
	background: #5bc0de;
	color: #fff;
}

.teams .list-group-item .glyphicon {
	display: none;
}

.teams .list-group-item.current .glyphicon {
	display: inline;
	float: right;
}



.value-picker {
	overflow: hidden;
	margin: auto;
	width: 304px;
}

.value-picker input {
	border: solid 1px #000;
	width: 200px;
	height: 200px;
	text-align: center;
	float: left;
	border-radius: 4px;
	font-size: 100px;
}

.value-picker .controls {
	float: left;
	margin-left: 4px;
}

.value-picker button {
	font-size: 28px;
	display: block;
	border: solid 1px #000;
	border-radius: 4px;
	width: 100px;
	height: 98px;
}

.value-picker button:active {
	padding: 0;
	margin: 0;
	background: #ccc;
}

.value-picker button:first-child {
	margin-bottom: 4px;
}

.value-picker button:last-child {
	margin-top: 4px;
}