@font-face {
	font-family: digital;
	src: url("/static/fonts/digital-7.ttf");
}

html {
	height: 100%;
}

body {
	min-height: 100%;
}

body {
	background: #f0f0f0;
	color: #333;
}

header {
	border-bottom: solid 1px #333;
}

.maincontroller-index header {
	display: none;
}

header a {
	display: block;
	text-align: center;
	font-size: 48px;
	font-family: digital;
}

header a,
header a:focus,
header a:hover {
	color: #333;
	text-decoration: none;
}

h1.ping-pong {
	font-size: 120px;
	text-align: center;
	font-family: digital;
	margin: 0;
}

h1 {
	font-size: 28px;
	text-align: center;
}

h1.with-action {
	text-align: left;
}

h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active {
	text-decoration: none;
}

h2 {
	text-align: center;
	margin: 12px 0;
}

a,
a:hover {
	color: #333;
}

a.action {
	float: right;
	margin-top: 15px;
}

a.link {
	color: #337ab7;
}

.authentication {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 13px;
	padding: 8px 12px;
}

.authentication.unauthenticated .link {
	color: #ccc;
}

.matchcontroller-matches .authentication {
	display: none;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

.table > tbody > tr > td.avatar {
	width: 1px;
	text-align: center;
	padding: 2px 0;
}

.avatar-player-form {
	display: block;
	margin: 6px 0 16px;
	max-width: 700px;
	max-height: 500px;
}

.avatar-players {
	max-width: 70px;
	max-height: 70px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flash-messages {
	width: 900px;
	margin: 20px auto -20px;
	padding-left: 15px;
	padding-right: 15px;
}

.maincontroller-index .flash-messages {
	margin: 0 auto;
	position: relative;
	top: 20px;
}

.main-container {
	width: 650px;
	height: 350px;
	margin: auto;
}

.main-container img {
	display: block;
	width: 250px;
	margin: 10px auto;
}

.main-container .links a {
	display: block;
	border: solid 1px #ccc;
	text-align: center;
	padding: 10px 0;
	border-bottom-width: 0px;
	text-decoration: none;
	background: #fff;
	font-size: 22px;
}

.main-container .links a:first-child {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.main-container .links a:last-child {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-width: 1px;
}

.main-container .links a:hover {
	background: #e6e6e6;
}

.option-form {
	width: 500px;
	margin: auto;
}

.option-form .btn,
.option-form .form-control {
	font-size: 24px;
}

.text-sm {
	font-size: 13px;
}

.matches-container {
	position: relative;
}

.matches-container .player-filter {
	position: absolute;
	right: 123px;
	top: 20px;
	width: 130px;
}

.matches-container .match-type-filter {
	position: absolute;
	right: 0px;
	top: 20px;
	width: 115px;
}

.matches-container .season-filter {
	position: absolute;
	right: 261px;
	top: 20px;
	width: 256px;
}

.matches-container .nav-tabs {
	margin-bottom: 12px;
}

.matches-container .nav-tabs > li > a {
	padding: 6px 12px;
}

.matches-container .match-list {
	width: initial;
	margin: auto;
}

.matches-container .match-list > thead > tr > th:nth-child(1),
.matches-container .match-list > tbody > tr > td:nth-child(1) {
	width: 180px;
	text-align: center;
}
.matches-container .match-list > thead > tr > th:nth-child(2),
.matches-container .match-list > tbody > tr > td:nth-child(2) {
	width: 120px;
	text-align: center;
}
.matches-container .match-list > thead > tr > th:nth-child(3),
.matches-container .match-list > tbody > tr > td:nth-child(3) {
	width: 520px;
}
.matches-container .match-list > thead > tr > th:nth-child(4),
.matches-container .match-list > tbody > tr > td:nth-child(4) {
	text-align: center;
}

.matches-container .score-cell {
	padding: 4px 0;
	width: 520px;
}

.matches-container .score-table {
	margin: 0;
	width: initial;
}

.matches-container .score-table td {
	padding: 4px 6px;
	font-size: 13px;
}

.matches-container .score-table td.name {
	width: 300px;
}

.matches-container .score-table td.name.winner {
	font-weight: bold;
}

.matches-container .score-table td.name .elo-change {
	font-size: 12px;
	font-weight: normal;
	padding-left: 8px;
}

.matches-container .score-table td.name .elo-change .positive {
	color: green;
}
.matches-container .score-table td.name .elo-change .negative {
	color: red;
}

.matches-container .score-table td.score {
	width: 40px;
	text-align: center;
	font-family: digital;
	font-size: 20px;
	line-height: 18px;
	position: relative;
	top: 1px;
}

.matches-container .score-table td.score.winner {
	font-weight: bold;
}

.matches-played {
	position: relative;
	bottom: 12px;
	font-size: 12px;
}

.ism-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 40px 10px;
	background: rgba(240, 240, 240, 0.8);
	font-size: 120px;
	text-align: center;
	display: none;
}

.ism-container.long {
	font-size: 90px;
	padding: 60px 10px;
}

@media (min-width: 768px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 900px;
	}
	.matches-container {
		width: 1000px;
	}
}

