.debug {
	box-shadow: inset 0 0 6px #f00;
}

.debug .singles-container .score-board:first-child {
	box-shadow: inset 0 0 10px 10px yellow;
}

.debug .singles-container .score-board:last-child {
	box-shadow: inset 0 0 10px 10px green;
}
