.doubles-container {
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.doubles-container .score-board {
	border: solid 1px #ccc;
	width: 35%;
	float: left;
}

.doubles-container .score-board .name {
	display: block;
	font-size: 60px;
	padding: 8px  12px;
}

.doubles-container .score-board .name[data-color="green"] {
	box-shadow: inset 0 0 10px 10px green;
}
.doubles-container .score-board .name[data-color="yellow"] {
	box-shadow: inset 0 0 10px 10px yellow;
}
.doubles-container .score-board .name[data-color="blue"] {
	box-shadow: inset 0 0 10px 10px blue;
}
.doubles-container .score-board .name[data-color="red"] {
	box-shadow: inset 0 0 10px 10px red;
}

.doubles-container .score-board .score {
	display: block;
	font-family: digital;
	font-size: 210px;
	line-height: 175px;
}

@keyframes doublesScoreAnimation {
	0% {
		box-shadow: inset 0 0 0 0 orange;
	}
	10% {
		box-shadow: inset 0 0 80px 80px orange;
	}
	90% {
		box-shadow: inset 0 0 80px 80px orange;
	}
	100% {
		box-shadow: inset 0 0 0 0 orange;
	}
}

.doubles-container .score-board .score.scored {
	animation-name: doublesScoreAnimation;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.doubles-container .sets {
	font-size: 30px;
	width: 30%;
	float: left;
	height: 378px;
	overflow: hidden;
}

.doubles-container .sets .middle {
	position: relative;
	bottom: 50px;
	display: block;
	overflow: hidden;
}

.doubles-container .sets .text {
	display: block;
	padding: 8px 0;
}

.doubles-container .sets .set {
	display: block;
	padding: 2px 0 1px;
	position: relative;
}

.doubles-container .sets .set .num {
	font-size: 80px;
	line-height: 80px;
}

.doubles-container .sets .serving {
	display: block;
	font-size: 100px;
	text-align: center;
	color: #ccc;
	padding: 2px 0;
}

.doubles-container .sets .serving.bottom {
	position: relative;
	bottom: 70px;
}

.doubles-container .sets .serving .glyphicon {
	line-height: 84px;
}

.doubles-container .sets .serving .active {
	color: #333;
}

.doubles-container .sets .playing-to {
	font-size: 18px;
	display: block;
	padding: 12px 0;
}

.doubles-container .play-again-container {
	width: 30%;
	float: left;
	overflow: hidden;
	padding: 0 16px;
	text-align: left;
}

.doubles-container .play-again-container .btn {
	padding: 9px 16px;
	font-size: 16px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.doubles-container .play-again-container .form-group {
	margin-top: 5px;
}


.doubles-container .play-again-container h2 {
	font-size: 28px;
	margin: 0 0 16px 0;
}

.doubles-container .play-again-container a {
	margin: 24px 0 8px 0;
}

.doubles-container .play-again-container .undo .btn {
	font-size: 12px;
	padding: 6px 0;
	background: #f0f0f0;
}
