.leaderboard-player-container {
	max-width: 1325px;
	margin: auto;
	position: relative;
	padding-bottom: 20px;
}

.leaderboard-player-container table {
	width: 100%;
}

.leaderboard-player-container .nav-tabs li span {
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 9px;
	cursor: pointer;
	color: #555;
	margin-right: 2px;
}

.leaderboard-player-container .nav-tabs li.active span {
	border: solid 1px #ddd;
	border-bottom-color: transparent;
	background: #fff;
	padding: 8px;
}

.table.table-sortable thead th {
	cursor: pointer;
	position: relative;
}

.table.table-sortable .sorting-container {
	display: inline-block;
	font-size: 10px;
	position: relative;
	top: 4px;
	left: 4px;
}

.table.table-sortable th .glyphicon {
	color: #aaa;
	display: block;
}

.table.table-sortable .sorting-asc .glyphicon-chevron-up,
.table.table-sortable .sorting-desc .glyphicon-chevron-down {
	color: #333
}

.leaderboard-container {
	max-width: 1400px;
	width: 100%;
	margin: auto;
	position: relative;
	padding-bottom: 20px;
}

.leaderboard-container .win-streak,
.leaderboard-player-container .win-streak {
	font-weight: bold;
}

.leaderboard-container .win-streak-positive,
.leaderboard-player-container .win-streak-positive {
	color: green;
}

.leaderboard-container .win-streak-negative,
.leaderboard-player-container .win-streak-negative {
	color: red;
	padding-left: 3px;
}

.leaderboard-container .win-streak-neutral,
.leaderboard-player-container .win-streak-neutral {
	padding-left: 8px;
}

.leaderboard-container .table .elo,
.leaderboard-container .table .colors {
	display: none;
}

.leaderboard-container .table.singles .elo,
.leaderboard-container .table.nines .colors {
	display: table-cell;
}

.leaderboard-container .table.nines .points-against,
.leaderboard-container .table.nines .points-for {
	display: none;
}

.leaderboard-container .elo-change {
	font-size: 11px;
	display: inline-block;
	width: 34px;
	text-align: right;
}

.leaderboard-container .elo-change.positive {
	color: green;
}

.leaderboard-container .elo-change.negative {
	color: red;
}

.leaderboard-container .season-filter,
.leaderboard-player-container .season-filter {
	position: absolute;
	right: 32px;
	top: 0;
	width: 260px;
}

.leaderboard-table td,
.opponent-table td {
	height: 42px;
}

.leaderboard-table > tfoot > tr > th {
	padding-bottom: 30px;
}

.leaderboard-table tfoot tr:first-child th {
	border-top: solid 2px #bbb;
}

.leaderboard-table a.player-name-link {
	display: inline-block;
	max-width: 200px;
}

.avatar-leaderboard {
	max-width: 50px;
	max-height: 37px;
}

.avatar-leaderboard-player-container {
	position: absolute;
	top: -10px;
	width: 100px;
	height: 80px;
	text-align: center;
}

.avatar-leaderboard-player {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.opponent-matches {
	margin-left: 8px;
}

.table > tbody > tr.active > td {
	border: solid 1px #aaa;
	border-left: none;
	border-right: none;
}

@media (max-width: 1400px) {
	.leaderboard-table.table > thead > tr > th,
	.leaderboard-table.table > tbody > tr > td {
		padding: 4px;
	}
}

@media (max-width: 1300px) {
	.leaderboard-container {
		font-size: 12px;
	}

	.leaderboard-table a.player-name-link {
		max-width: 90px;
	}
}

@media (max-width: 1150px) {
	.leaderboard-table.table > thead > tr > th,
	.leaderboard-table.table > tbody > tr > td {
		padding: 4px 2px;
	}

	.leaderboard-container {
		font-size: 9px;
	}

	.table.table-sortable .sorting-container {
		font-size: 6px;
	}

	.avatar-leaderboard {
		max-width: 40px;
		max-height: 33px;
	}

	.leaderboard-table a.player-name-link {
		max-width: 70px;
	}
}

@media (max-width: 900px) {
	.table.table-sortable .sorting-container {
		display: none;
	}
}

.leaderboard-datetimepicker-toggle {
	position: absolute;
	right: 0;
	top: 1px;
	cursor: pointer;
	font-size: 24px;
	color: #aaa;
}

.leaderboard-datetimepicker {
	position: absolute;
	right: 32px;
	top: 0;
}

.leaderboard-datetimepicker .form-group {
	float: left;
	width: 190px;
	margin-right: 6px;
}

.leaderboard-container .table.nines .color-container {
	padding: 0;
	cursor: pointer;
}

.leaderboard-container .table.nines .color-container.open {
	padding: 6px 0 8px 0;
}

.leaderboard-container .table.nines .color-container .color {
	display: block;
	float: left;
}

.leaderboard-container .table.nines .color-container.open .color {
	float: none;
}

.leaderboard-container .table.nines .color-container .color .text {
	display: none;
}

.leaderboard-container .table.nines .color-container.open .color .text {
	display: inline;
	position: relative;
	bottom: 3px;
	padding-left: 6px;
}

.leaderboard-container .table.nines .color-container .swatch {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 3px;
	margin: 0 1px;
	position: relative;
	top: 3px;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.leaderboard-container .table.nines .color-container .swatch.yellow {
	background: yellow;
}

.leaderboard-container .table.nines .color-container .swatch.blue {
	background: blue;
}

.leaderboard-container .table.nines .color-container .swatch.red {
	background: red;
}

.leaderboard-container .table.nines .color-container .swatch.green {
	background: green;
}
