.leaderboard-player-container {
	width: 1100px;
	margin: auto;
	position: relative;
}

.leaderboard-player-container table {
	width: 100%;
}

.leaderboard-player-container .nav-tabs li span {
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 9px;
	cursor: pointer;
	color: #555;
	margin-right: 2px;
}

.leaderboard-player-container .nav-tabs li.active span {
	border: solid 1px #ddd;
	border-bottom-color: transparent;
	background: #fff;
	padding: 8px;
}

.table.table-sortable thead th {
	cursor: pointer;
	position: relative;
}

.table.table-sortable .sorting-container {
	display: inline-block;
	font-size: 10px;
	position: relative;
	top: 4px;
	left: 4px;
}

.table.table-sortable th .glyphicon {
	color: #aaa;
	display: block;
}

.table.table-sortable .sorting-asc .glyphicon-chevron-up,
.table.table-sortable .sorting-desc .glyphicon-chevron-down {
	color: #333
}

.leaderboard-container {
	max-width: 1310px;
	width: 100%;
	margin: auto;
	position: relative;
}

.leaderboard-container .win-streak,
.leaderboard-player-container .win-streak {
	font-weight: bold;
}

.leaderboard-container .win-streak-positive,
.leaderboard-player-container .win-streak-positive {
	color: green;
}

.leaderboard-container .win-streak-negative,
.leaderboard-player-container .win-streak-negative {
	color: red;
	padding-left: 3px;
}

.leaderboard-container .win-streak-neutral,
.leaderboard-player-container .win-streak-neutral {
	padding-left: 8px;
}

.leaderboard-container .table .elo {
	display: none;
}

.leaderboard-container .table.singles .elo {
	display: table-cell;
}

.leaderboard-container .table.nines .points-against,
.leaderboard-container .table.nines .points-for {
	display: none;
}

.leaderboard-container .elo-change {
	font-size: 11px;
	display: inline-block;
	width: 34px;
	text-align: right;
}

.leaderboard-container .elo-change.positive {
	color: green;
}

.leaderboard-container .elo-change.negative {
	color: red;
}

.leaderboard-container .season-filter,
.leaderboard-player-container .season-filter {
	position: absolute;
	right: 0;
	top: 0;
	width: 260px;
}

.leaderboard-table td,
.opponent-table td {
	height: 42px;
}

.leaderboard-table > tfoot > tr > th {
	padding-bottom: 30px;
}

.leaderboard-table tfoot tr:first-child th {
	border-top: solid 2px #bbb;
}

.avatar-leaderboard {
	max-width: 50px;
	max-height: 37px;
}

.avatar-leaderboard-player-container {
	position: absolute;
	top: -10px;
	width: 110px;
	height: 80px;
	text-align: center;
}

.avatar-leaderboard-player {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.opponent-matches {
	margin-left: 8px;
}
