.nines-container {
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.nines-container .score-board {
	border: solid 1px #ccc;
	width: 50%;
	float: left;
}

.nines-container .score-board.out {
	opacity: 0.35;
}

.nines-container .score-board:nth-child(1),
.nines-container .score-board:nth-child(2) {
	margin-bottom: 60px;
}
.nines-container .score-board:nth-child(2n) {
	border-left: none;
}

.nines-container .score-board .name {
	display: block;
	float: left;
	font-size: 60px;
	padding: 48px 12px;
	width: 75%
}

@keyframes ninesScoreAnimation {
	0% {
		box-shadow: inset 0 0 0 0 orange;
	}
	10% {
		box-shadow: inset 0 0 60px 60px orange;
	}
	90% {
		box-shadow: inset 0 0 60px 120px orange;
	}
	100% {
		box-shadow: inset 0 0 0 0 orange;
	}
}

.nines-container .score-board .name.scored {
	animation-name: ninesScoreAnimation;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.nines-container .score-board .name[data-color="green"] {
	box-shadow: inset 0 0 10px 10px green;
}
.nines-container .score-board .name[data-color="yellow"] {
	box-shadow: inset 0 0 10px 10px yellow;
}
.nines-container .score-board .name[data-color="blue"] {
	box-shadow: inset 0 0 10px 10px blue;
}
.nines-container .score-board .name[data-color="red"] {
	box-shadow: inset 0 0 10px 10px red;
}

.nines-container .score-board .score {
	display: block;
	font-family: digital;
	font-size: 180px;
	line-height: 180px;
	float: left;
	text-align: center;
	width: 25%;
}

.nines-container .play-again,
.nines-container .undo {
	padding-top: 20px;
	clear: both;
}

.nines-container .play-again .btn,
.nines-container .undo .btn {
	font-size: 24px;
}
