
.player-selector-container {
	position: relative;
}

.player-selector-container .action {
	position: absolute;
	right: 15px;
}

.player-selector-container .player-list input {
	display: none;
}


.player-selector-container .player-list .player .glyphicon {
	visibility: hidden;
}

.player-selector-container .player-list .player.active {
	font-weight: bold;
}

.player-selector-container .player-list .player.active .glyphicon {
	visibility: visible;
}

.player-selector-container .players-form-play {
	margin-top: 16px;
	font-size: 24px;
}

.player-selector-container .player-list-columns {
	column-count: 2;
}

.player-selector-container .player-list-columns .player {
	break-inside: avoid-column;
	margin-top: 4px;
	padding: 4px 0 4px 23px;
	position: relative;
}

.player-selector-container .player-list-columns .player:focus {
	outline: none;
}

.player-selector-container .player-list-columns .player .avatar {
	max-width: 60px;
	max-height: 34px;
	margin-right: 8px;
}

.player-selector-container .player-list-columns .player:first-child {
	margin-top: 0;
}

.players-container .player-portrait {
	float: left;
	width: 25%;
	padding: 12px;
	margin-bottom: 16px;
	/*background: rgba(0,0,0,0.1);*/
}

.players-container .player-portrait:nth-child(4n - 1) {
	clear: both;
}

.players-container .player-portrait .link {
}

.players-container .avatar-players {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 8px auto 0;
}