
.player-selector-container {
	position: relative;
}

.player-selector-container .action {
	position: absolute;
	right: 15px;
}

.player-selector-container .player-list input {
	display: none;
}


.player-selector-container .player-list .player .glyphicon {
	visibility: hidden;
}

.player-selector-container .player-list .player.active {
	font-weight: bold;
}

.player-selector-container .player-list .player.active .glyphicon {
	visibility: visible;
}

.player-selector-container .players-form-play {
	margin-top: 16px;
	font-size: 24px;
}

.player-selector-container .player-list-columns {
	column-count: 3;
}

.player-selector-container .player-list-columns .player {
	break-inside: avoid-column;
	margin-top: 4px;
	padding: 8px;
	position: relative;
	height: 52px;
	overflow: hidden;
}

.player-selector-container .player-list-columns .player:focus {
	outline: none;
}

.player-selector-container .player-list-columns .player .avatar {
	max-width: 60px;
	max-height: 34px;
	margin-right: 8px;
}

.player-selector-container .player-list-columns .player:first-child {
	margin-top: 0;
}

.players-container .player-name {
	text-align: center;
}

.players-container .player-name a {
	display: inline-block;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.players-container .player-stats {
}

.players-container .avatar-players {
	width: 120px;
}

.players-container .avatar-players img {
	display: block;
	max-width: 100%;
	margin: auto;
}

.player-show img {
	display: block;
	margin: 20px auto;
	max-width: 100%;
}

.players-container .table td {
	height: 150px;
}