.singles-container {
	overflow: hidden;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.singles-container .score-board {
	border: solid 1px #ccc;
	width: 35%;
	float: left;
	position: relative;
}

.singles-container .score-board .name {
	display: block;
	font-size: 60px;
	padding: 20px 8px 0 8px;
}

.singles-container .score-board .elo {
	display: block;
	position: relative;
	bottom: 12px;
}

.singles-container .score-board .score {
	display: block;
	font-family: digital;
	font-size: 210px;
	line-height: 140px;
	margin-bottom: 40px;
}

@keyframes singlesScoreAnimation {
	0% {
		box-shadow: inset 0 0 0 0 orange;
	}
	10% {
		box-shadow: inset 0 0 120px 120px orange;
	}
	90% {
		box-shadow: inset 0 0 120px 120px orange;
	}
	100% {
		box-shadow: inset 0 0 0 0 orange;
	}
}

.singles-container .score-board.scored {
	animation-name: singlesScoreAnimation;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.singles-container .sets {
	font-size: 30px;
	width: 30%;
	float: left;
	height: 307px;
	overflow: hidden;
}

.singles-container .sets .text {
	display: block;
	padding-bottom: 8px;
}

.singles-container .sets .set {
	display: block;
	padding: 2px 0 1px;
}

.singles-container .sets .set .num {
	font-size: 80px;
	line-height: 80px;
}

.singles-container .sets .serving {
	display: block;
	font-size: 100px;
	text-align: center;
	color: #ccc;
	padding: 2px 0;
}

.singles-container .sets .serving .glyphicon {
	line-height: 84px;
}

.singles-container .sets .serving .active {
	color: #333;
}

.singles-container .sets .playing-to {
	font-size: 18px;
	display: block;
	padding: 12px 0;
}

.set-scores {
	font-size: 18px;
	width: 60%;
	margin: 15px auto 0;
	table-layout: fixed;
}

.set-scores td:first-child {
	width: 330px;
}

.set-scores tr:first-child td:first-child {
	font-size: 12px;
}

.set-score {
	font-family: digital;
	font-size: 28px;
	line-height: 28px !important;
}

.set-score.win {
	font-weight: bold;
}

.singles-container .play-again-container {
	width: 30%;
	float: left;
	overflow: hidden;
	padding: 0 16px;
	text-align: left;
}

.singles-container .play-again-container .btn {
	padding: 8px 16px;
	font-size: 15px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.singles-container .play-again-container h2 {
	font-size: 28px;
	margin: 0 0 16px 0;
}

.singles-container .play-again-container a {
	margin: 24px 0 8px 0;
}

.singles-container .play-again-container .undo .btn {
	font-size: 12px;
	padding: 6px 0;
	background: #f0f0f0;
}

.singles-avatar-container {
	width: 246px;
	height: 128px;
	position: absolute;
	text-align: center;
	margin-top: 14px;
	padding: 0 4px;
}

.singles-avatar-container.yellow {
	left: 0;
}

.singles-avatar-container.green {
	right: 0;
}

.singles-avatar-container .avatar-singles {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: -100;
}

.singles-container .elo-change {
	display: inline-block;
}

.singles-container .elo-change.positive {
	color: green;
}

.singles-container .elo-change.negative {
	color: red;
}

.singles-container .match-number {
	position: absolute;
	top: 14px;
	right: 80px;
	font-size: 28px;
}
