
<div
	class="value-picker"
	data-value="{{ value }}"
	data-min="{{ min }}"
	data-max="{{ max }}"
	data-interval="{{ interval }}"
	{% for item in data %}
		{% for key in item %}
			data-{{ key }}={{ item[key] }}
		{% endfor %}
	{% endfor %}
>

	<input type="text" name="{{ name }}" value="{{ value }}" class="input" />

	<div class="controls">

		<button class="up">
			<span class="glyphicon glyphicon glyphicon-triangle-top"></span>
		</button>

		<button class="down">
			<span class="glyphicon glyphicon glyphicon-triangle-bottom"></span>
		</button>

	</div>

</div>
