
<div
	class="value-picker"
	data-value="{{ value }}"
	data-min="{{ min }}"
	data-max="{{ max }}"
	data-interval="{{ interval }}"
>

	<input
		type="text"
		name="{{ name }}"
		value="{{ value }}"
		class="input"
		autocomplete="off"
		disabled
		{% for item in data %}
			{% for key in item %}
				data-{{ key }}={{ item[key] }}
			{% endfor %}
		{% endfor %}
	/>

	<div class="controls">

		<button class="up {% if value >= max %}disabled{% endif %}">
			<span class="glyphicon glyphicon glyphicon-triangle-top"></span>
		</button>

		<button class="down {% if value <= min %}disabled{% endif %}">
			<span class="glyphicon glyphicon glyphicon-triangle-bottom"></span>
		</button>

	</div>

</div>
